{% extends 'base_dashboard.html' %}
{% block atras %}{% url 'adm_servicio' %}{% endblock %}
{% block extrahead %}
    <script>
        $(function () {
            let typingTimer;
            const typingDelay = 500;

            $('#id_producto').select2()

            $('#id_producto').change(function () {
                calcularPrecios()
            })

            $('#id_cantidad').on('keyup', function () {
                clearTimeout(typingTimer);  // Reinicia el temporizador cada vez que se presiona una tecla

                typingTimer = setTimeout(function () {
                    calcularPrecios();  // Ejecuta la función después de que pase el tiempo de espera
                }, typingDelay);
            });

            function calcularPrecios() {
                var valor = $('#id_producto').val()
                if (valor !== '') {
                    bloqueointerface();
                    $.ajax({
                        type: 'GET',
                        url: '{{ request.path }}',
                        data: {'action': 'obtenerprecio', 'id': valor},
                        success: function (data) {
                            $.unblockUI()
                            if (data.result === true) {
                                $('#id_preciou').val('$' + data.precio)
                                var preciot = parseFloat(data.precio) * parseFloat($('#id_cantidad').val())
                                $('#id_precios').val('$' + preciot)
                            }
                        },
                        dataType: "json"
                    })
                } else {
                    $('#id_precio').val('')
                }
            }

            $('#id_addproducto').click(function () {
                const id = $('#id_producto option:selected').text();
                const producto = $('#id_producto').val();
                const preciou = $('#id_preciou').val();
                const cantidad = $('#id_cantidad').val();
                const preciot = $('#id_preciot').val();

                const actions = `
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button"
                           id="dropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                             aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Acciones:</div>
                            <div class="dropdown-divider"></div>

                            <a class="dropdown-item btn_eliminarfila" href="javascript:void(0);"
                                style="display: flex; align-items: center;">
                                <span class="icon text-gray-600" style="width: 15px; height: 15px; margin-right: 10px; display: flex; align-items: center; justify-content: center;">
                                    <i class="fas fa-trash"></i>
                                </span>
                                <span class="text" style="flex-grow: 1;">Eliminar</span>
                            </a>
                        </div>
                    </div>
                `;
                const tablaDetalle = $('#dataTable').DataTable();

                tablaDetalle.row.add([
                    id,
                    producto,
                    preciou,
                    cantidad,
                    preciot,
                    actions
                ]).draw();
            });

            $('#dataTable').on('click', '.btn_eliminarfila', function () {
                Swal.fire({
                    icon: "info",
                    title: "¿Realmente deseas eliminar este detalle?",
                    showCancelButton: true,
                    confirmButtonText: "Eliminar"
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Obtener la fila con DataTables API
                        const table = $('#dataTable').DataTable();
                        const fila = $(this).closest('tr');
                        const row = table.row(fila);  // Usar .row() para obtener la fila con DataTables

                        // Eliminar la fila
                        row.remove().draw(); // Eliminar la fila y redibujar la tabla
                        Swal.fire({
                            position: "center",
                            icon: "success",
                            title: "Eliminado!",
                            showConfirmButton: false,
                            timer: 1000
                        })
                    }
                });
            });


        })
    </script>
{% endblock %}
{% block dashboard %}
    <div class="container-fluid">
        <div class="card mb-4 py-1 border-left-info">
            <div class="card-body">
                <div class="row">
                    {% for field in form %}
                        {% if field.field.widget.attrs.separator %}
                            {% if field.field.widget.attrs.blanklinebefore %}
                            {% endif %}
                            <div style="width: 100%; height: max-content">
                                <h6 style="width:100%; text-align:center; line-height:0.1em; margin:20px 0 10px; border-bottom: 1px solid #b3b3b3; color: #b3b3b3">
                <span style="padding:0 10px; background: #fff;">
                    {% if field.field.widget.attrs.separatortitle %}
                        {{ field.field.widget.attrs.separatortitle }}
                    {% endif %}
                </span>
                                </h6>
                            </div>
                        {% endif %}
                        <div id="fieldset_{{ field.name }}" class="col-lg-{{ field.field.widget.attrs.col }}"
                             style="float: left; padding-right: 10px;">
                            {% if field.field.label %}
                                <label class="control-label pr-2"
                                       for="id_{{ field.name }}"><b>{{ field.label }}</b>&nbsp;:
                                </label>
                            {% endif %}
                            {{ field }}
                            <p class="help-text">{{ field.help_text }} </p>
                        </div>
                    {% endfor %}

                    {{ form.media|safe }}
                </div>
                <div class="row"
                     style="display: flex; justify-content: space-between; align-items: center; padding: 0 10px 0 12px">
                    <div class="row">
                        <a href="javascript:void(0);" style="margin-left: 10px" id="id_addproducto"
                           class="btn btn-info btn-icon-split">
                            <span class="icon text-white-50"><i class="fas fa-plus"></i></span>
                            <span class="text">Agregar Producto</span>
                        </a>
                        <a href="javascript:void(0);" onclick="formModal('', 'Agregar Producto', 'add', true, '')"
                           class="btn btn-primary btn-icon-split" style="margin-left: 20px">
                            <span class="icon text-white-50"><i class="fas fa-user"></i></span>
                        </a>
                    </div>
                    <a href="javascript:void(0);" onclick="formModal('', 'Agregar Producto', 'add', true, '')"
                       class="btn btn-primary btn-icon-split" style="margin-left: 0">
                        <span class="icon text-white-50"><i class="fas fa-save"></i></span>
                        <span class="text">Guardar</span>
                    </a>
                </div>
            </div>
        </div>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th style="width: 1%">ID</th>
                            <th style="width: 5%">Producto</th>
                            <th style="width: 1%">Precio Unitario</th>
                            <th style="width: 1%">Cantiada</th>
                            <th style="width: 1%">Total</th>
                            <th style="width: 1%"></th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}