{% extends 'base_dashboard.html' %}
{% block atras %}{% url 'adm_servicio' %}{% endblock %}
{% block extrahead %}
    <script>
        $(function () {
            $('#id_producto').select2()
        })
    </script>
    <script>
        $(function () {
            let typingTimer;
            const typingDelay = 300;
            var table = $('#dataTable').DataTable()

            $('#id_producto').change(function () {
                if ($(this).val() !== '') {
                    $('#id_cantidad').val(1)
                    obtenerPrecioProducto()
                } else {
                    $('#id_cantidad').val('')
                    $('#id_addproducto').addClass('disabled')
                }
            })

            $('#id_cantidad').on('keyup', function () {
                if ($(this).val() !== '' && $(this).val() > 0) {
                    clearTimeout(typingTimer);
                    typingTimer = setTimeout(function () {
                        calcularTotal();
                    }, typingDelay);
                } else {
                    $(this).val(1)
                }
            });

            $('#id_descuento').on('keyup', function () {
                if ($(this).val() !== '') {
                    clearTimeout(typingTimer);
                    typingTimer = setTimeout(function () {
                        $('#id_preciot').val('$' + calcularTotalVenta())
                    }, typingDelay);
                } else {
                    $(this).val('')
                    $('#id_preciot').val('$' + calcularTotalVenta())
                }
            });

            $('#id_addproducto').click(function () {
                const id = $('#id_producto').val();
                const producto = $('#id_producto option:selected').text();
                const preciou = $('#id_preciou').val();
                const cantidad = $('#id_cantidad').val();
                const precios = $('#id_precios').val();

                const actions = `
                    <div class="dropdown no-arrow" style="display: flex; justify-content: center">
                        <a class="dropdown-toggle" href="#" role="button"
                           id="dropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                             aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Acciones:</div>
                            <div class="dropdown-divider"></div>

                            <a class="dropdown-item btn_eliminarfila" href="javascript:void(0);"
                                style="display: flex; align-items: center;">
                                <span class="icon text-gray-600" style="width: 15px; height: 15px; margin-right: 10px; display: flex; align-items: center; justify-content: center;">
                                    <i class="fas fa-trash"></i>
                                </span>
                                <span class="text" style="flex-grow: 1;">Eliminar</span>
                            </a>
                        </div>
                    </div>
                `;
                const tablaDetalle = $('#dataTable').DataTable();

                tablaDetalle.row.add([
                    id,
                    producto,
                    preciou,
                    cantidad,
                    precios,
                    actions
                ]).draw();
                $('#id_addproducto').addClass('disabled')
                $('#id_preciot').val('$' + calcularTotalVenta())
            });

            $('#dataTable').on('click', '.btn_eliminarfila', function () {
                Swal.fire({
                    icon: "info",
                    title: "¿Realmente deseas eliminar este detalle?",
                    showCancelButton: true,
                    confirmButtonText: "Eliminar"
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Obtener la fila con DataTables API
                        const table = $('#dataTable').DataTable();
                        const fila = $(this).closest('tr');
                        const row = table.row(fila);  // Usar .row() para obtener la fila con DataTables

                        // Eliminar la fila
                        row.remove().draw(); // Eliminar la fila y redibujar la tabla
                        Swal.fire({
                            position: "center",
                            icon: "success",
                            title: "Eliminado!",
                            showConfirmButton: false,
                            timer: 1000
                        })
                    }
                });
            });

            function obtenerPrecioProducto() {
                var valor = $('#id_producto').val(); // Obtener el ID del producto seleccionado
                if (valor !== '') {
                    $.ajax({
                        type: 'GET',
                        url: '{{ request.path }}',
                        data: {'action': 'obtenerprecio', 'id': valor}, // Enviar el ID del producto al servidor
                        success: function (data) {
                            if (data.result === true) {
                                $('#id_preciou').val('$' + data.precio); // Mostrar el precio unitario
                                calcularTotal(); // Llamar a la función para calcular el total después de obtener el precio
                            }
                        },
                        dataType: "json"
                    });
                } else {
                    $('#id_precio').val('');
                }
            }

            function calcularTotal() {
                var cantidad = parseFloat($('#id_cantidad').val()); // Obtener la cantidad
                var precioUnitario = parseFloat($('#id_preciou').val().replace('$', '')); // Obtener el precio unitario, sin el signo de dólar
                if (!isNaN(cantidad) && !isNaN(precioUnitario)) {
                    var total = precioUnitario * cantidad; // Calcular el total
                    $('#id_precios').val('$' + total.toFixed(2)); // Mostrar el total con dos decimales
                    $('#id_preciot').val('$' + calcularTotalVenta()); // Actualizar el total general de la venta
                    $('#id_addproducto').removeClass('disabled'); // Habilitar el botón de agregar producto
                }
            }

            function calcularTotalVenta() {
                var total = 0;
                var descuento = $('#id_descuento').val()
                $('#dataTable').DataTable().rows().every(function () {
                    var precio = parseFloat(this.data()[4].split('$')[1]);
                    if (!isNaN(precio)) {
                        total += precio;
                    }
                });

                if (total >= descuento) {
                    return total - descuento;
                }
                return 0
            }

            $('#btn_guardar').click(function () {
                Swal.fire({
                    icon: "warning",
                    title: "¡Confirma la venta!",
                    html: `<p>Las ventas no se pueden modificar, verifica los detalles antes de proceder</p><hr><span style="font-size: 12px">Tendrán que llamar a Zelen si la cagan.</span>`,
                    showCancelButton: true,
                    confirmButtonText: "Confirmar"
                }).then((result) => {
                    if (result.isConfirmed) {
                        bloqueointerface();
                        var dataToSend = [];
                        table.rows().every(function () {
                            var rowData = this.data();
                            dataToSend.push({
                                id: rowData[0],
                                producto: rowData[1],
                                preciou: rowData[2],
                                cantidad: rowData[3],
                                total: rowData[4]
                            });
                        });
                        var formData = new FormData()
                        formData.append('tabla', JSON.stringify(dataToSend))
                        formData.append('descuento', $('#id_descuento').val())
                        formData.append('action', 'add')
                        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')
                        console.log(formData)
                        $.ajax({
                            type: 'POST',
                            url: '{{ request.path }}',
                            data: formData,
                            processData: false,
                            contentType: false,
                            success: function (response) {
                                $.unblockUI();
                                if (response.result === true) {
                                    Swal.fire({
                                        position: "center",
                                        icon: "success",
                                        title: "Has completado la venta excitosamente!",
                                        showConfirmButton: false,
                                        timer: 1500
                                    })
                                    window.location.href = '{% url 'adm_venta' %}';
                                }
                            },
                            error: function (xhr, status, error) {
                                console.error('Error al enviar los datos:', error);
                            }
                        });
                    }
                });
            })
        })
    </script>
{% endblock %}
{% block dashboard %}
    <!-- Modal -->
    <div class="modal fade" id="itemspanel" tabindex="-1" role="dialog" aria-labelledby="itemspanelTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <!-- CABECERA DEL MODAL -->
                <div class="modal-header">
                    <h5 class="modal-title" id="itemspanelTitle">FORMULARIO MODAL</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>

                <!-- CUERPO DEL MODAL -->
                <div class="modal-body" style="padding: 1.5%;">
                    <form id="form-modal" class="form-horizontal form-modal" autocomplete="off" method="post"
                          enctype="multipart/form-data" action="{{ request.path }}">
                        {% csrf_token %}
                        <div class="row panelbody">
                            {% include 'modals/form2.html' %}
                        </div>
                    </form>
                </div>

                <!-- PIE DEL MODAL -->
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal"><i class="fa fa-times"></i>
                        Cerrar
                    </button>
                    <button class="btn btn-primary" type="submit" form="form-modal"><i class="fa fa-save"></i>
                        Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="card mb-4 py-1 border-left-info">
            <div class="card-body">
                <div class="row">
                    {% for field in form %}
                        {% if field.field.widget.attrs.separator %}
                            {% if field.field.widget.attrs.blanklinebefore %}
                            {% endif %}
                            <div style="width: 100%; height: max-content">
                                <h6 style="width:100%; text-align:center; line-height:0.1em; margin:20px 0 10px; border-bottom: 1px solid #b3b3b3; color: #b3b3b3">
                <span style="padding:0 10px; background: #fff;">
                    {% if field.field.widget.attrs.separatortitle %}
                        {{ field.field.widget.attrs.separatortitle }}
                    {% endif %}
                </span>
                                </h6>
                            </div>
                        {% endif %}
                        <div id="fieldset_{{ field.name }}" class="col-lg-{{ field.field.widget.attrs.col }}"
                             style="float: left; padding-right: 10px;">
                            {% if field.field.label %}
                                <label class="control-label pr-2"
                                       for="id_{{ field.name }}"><b>{{ field.label }}</b>&nbsp;:
                                </label>
                            {% endif %}
                            {{ field }}
                            <p class="help-text">{{ field.help_text }} </p>
                        </div>
                    {% endfor %}

                    {{ form.media|safe }}
                </div>
                <div class="row"
                     style="display: flex; justify-content: space-between; align-items: center; padding: 0 10px 0 12px; margin-top: 20px">
                    <div class="row">
                        <a href="javascript:void(0);" style="margin-left: 10px" id="id_addproducto"
                           class="btn btn-info btn-icon-split disabled">
                            <span class="icon text-white-50"><i class="fas fa-plus"></i></span>
                            <span class="text">Agregar Producto</span>
                        </a>
                        <a href="javascript:void(0);" onclick="formModal('', 'Agregar Producto', 'add', true, '')"
                           class="btn btn-primary btn-icon-split" style="margin-left: 20px">
                            <span class="icon text-white-50"><i class="fas fa-user"></i></span>
                        </a>
                    </div>
                    {% if clienteexist %}
                        <div class="row"
                             style="margin-right: auto; display: flex; flex-direction: column; padding-left: 40px">
                            <span id="texto_central"><b>Cliente:</b> Oscar Moran</span>
                            <span id="texto_central"><b>CI:</b> 0504333972</span>
                        </div>
                    {% endif %}
                    <a href="javascript:void(0);" id="btn_guardar"
                       class="btn btn-primary btn-icon-split" style="margin-left: 0">
                        <span class="icon text-white-50"><i class="fas fa-save"></i></span>
                        <span class="text">Guardar</span>
                    </a>
                </div>

            </div>
        </div>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th style="width: 1%">ID</th>
                            <th style="width: 5%">Producto</th>
                            <th style="width: 1%">Precio Unitario</th>
                            <th style="width: 1%">Cantiada</th>
                            <th style="width: 1%">Total</th>
                            <th style="width: 1%"></th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}