{% extends 'base_dashboard.html' %}
{% block extrahead %}
    <script>
        $(function () {
            $('#id_trabajo').select2();
            $('#id_cliente').select2();
            $('#id_trabajador').select2();

            $('#id_trabajo').change(function () {
                var valor = $(this).val()
                $.ajax({
                    type: 'GET',
                    url: '{{ request.path }}',
                    data: {'action': 'obtenerprecio', 'id': valor},
                    success: function (response) {
                        if (response.result === true) {
                            $('#id_precio').val('$' + response.precio)
                        }
                    },
                    dataType: "json"
                })
            })

            $('#btn_addtrabajo').click(function () {
                bloqueointerface();
                var trabajo = $('#id_trabajo').val()
                var precio = $('#id_precio').val()
                var nprecio = $('#id_nprecio').val()
                var trabajador = $('#id_trabajador').val()
                var cliente = $('#id_cliente').val()
                var detalle = $('#id_detalle').val()

                var formdata = new FormData()
                formdata.append('trabajo', trabajo)
                formdata.append('precio', precio)
                formdata.append('nprecio', nprecio)
                formdata.append('trabajador', trabajador)
                formdata.append('detalle', detalle)
                formdata.append('cliente', cliente)
                formdata.append('action', 'add')

                $.ajax({
                    type: 'POST',
                    url: '{{ request.path }}',
                    data: formdata,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        $.unblockUI();
                        if (data.result === true) {
                            Swal.fire({
                                icon: "success",
                                type: "success",
                                title: "Has completado el registro exitosamente!",
                                html: `<p><b>${response.mensaje}</b></p><hr>${response.detalle}`
                            });
                            location.reload();
                        } else {
                            Swal.fire({
                                icon: "error",
                                type: "error",
                                title: "Parece que ha ocurrido un problema!",
                                html: `<p><b>${response.mensaje}</b></p><hr>${response.detalle}`
                            });
                        }
                    },
                    dataType: "json"
                })
            })
        })
    </script>
    <script>
        document.getElementById("toggleSeparator").addEventListener("click", function () {
            const accordionContent = document.getElementById("accordionContent");
            if (accordionContent.style.display === "none") {
                accordionContent.style.display = "block";
                this.style.color = "#000"; // Cambia color para indicar que está activo
            } else {
                accordionContent.style.display = "none";
                this.style.color = "#b3b3b3"; // Vuelve al color inicial
            }
        });
    </script>
{% endblock %}
{% block dashboard %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-4 col-lg-5">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Adicione un Trabajo</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="chart-pie pt-4 pb-2">
                            <input type="hidden" name="id" value="{{ id }}"/>
                            <input type="hidden" name="action" value="{{ action }}"/>

                            <!-- Campo Trabajo -->
                            <div id="fieldset_trabajo" class="col-lg-12" style="float: left; padding-right: 10px;">
                                <label class="control-label pr-2" for="id_trabajo"><b>Trabajo</b>:</label>
                                {{ form.trabajo }}
                                <p class="help-text">{{ form.trabajo.help_text }}</p>
                            </div>

                            <!-- Campo Precio -->
                            <div id="fieldset_precio" class="col-lg-12" style="float: left; padding-right: 10px;">
                                <label class="control-label pr-2" for="id_precio"><b>Precio</b>:</label>
                                {{ form.precio }}
                                <p class="help-text">{{ form.precio.help_text }}</p>
                            </div>

                            <!-- Separador como botón -->
                            <!-- Separador como enlace -->
                            <div style="width: 100%; text-align: center; margin: 20px 0;">
                                <a href="javascript:void(0);" id="toggleSeparator"
                                   style="color: #b3b3b3; text-decoration: none; font-size: 16px; font-weight: bold; cursor: pointer;">
                                    {{ form.nprecio.field.widget.attrs.separatortitle }}
                                </a>
                            </div>


                            <!-- Contenido oculto por defecto -->
                            <div id="accordionContent" style="display: none;">

                                <!-- Campo nPrecio -->
                                <div id="fieldset_nprecio" class="col-lg-12" style="float: left; padding-right: 10px;">
                                    <label class="control-label pr-2" for="id_nprecio"><b>Precio Alterno</b>:</label>
                                    {{ form.nprecio }}
                                    <p class="help-text">{{ form.nprecio.help_text }}</p>
                                </div>

                                <!-- Campo Trabajador -->
                                <div id="fieldset_trabajador" class="col-lg-12"
                                     style="float: left; padding-right: 10px;">
                                    <label class="control-label pr-2" for="id_trabajador"><b>Trabajador</b>:</label>
                                    {{ form.trabajador }}
                                    <p class="help-text">{{ form.trabajador.help_text }}</p>
                                </div>

                                <!-- Campo Cliente -->
                                <div id="fieldset_cliente" class="col-lg-12" style="float: left; padding-right: 10px;">
                                    <label class="control-label pr-2" for="id_cliente"><b>Cliente</b>:</label>
                                    {{ form.cliente }}
                                    <p class="help-text">{{ form.cliente.help_text }}</p>
                                </div>

                                <!-- Campo Detalle -->
                                <div id="fieldset_detalle" class="col-lg-12" style="float: left; padding-right: 10px;">
                                    <label class="control-label pr-2" for="id_detalle"><b>Detalle</b>:</label>
                                    {{ form.detalle }}
                                    <p class="help-text">{{ form.detalle.help_text }}</p>
                                </div>
                            </div>

                            {{ form.media|safe }}
                        </div>
                    </div>


                    <div class="container-fluid">
                        <div class="row" style="display: flex; justify-content: center;">
                            <a href="" class="btn btn-danger btn-icon-split btn-animate"
                               style="border: 1px solid #c5c5c5; margin: 20px 0;">
                                <span class="text" id="btn_addtrabajo">Agregar</span>
                                <span class="icon text-gray-100"><i class="fas fa-arrow-right"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-8 col-lg-5">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Adicione un Trabajo</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Trabajo</th>
                                <th>Precio</th>
                                <th>Trabajador</th>
                                <th>Cliente</th>
                                <th>Detalle</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for l in list %}
                                <tr>
                                    <td>{{ l.id }}</td>
                                    <td>{{ l.trabajo }}</td>
                                    <td>{{ l.precio|floatformat:2 }}</td>
                                    <td>{{ l.trabajador|default_if_none:"" }}</td>
                                    <td>{{ l.cliente|default_if_none:"" }}</td>
                                    <td>{{ l.detalle }}</td>
                                    <td>
                                        <div class="dropdown no-arrow">
                                            <a class="dropdown-toggle" href="#" role="button"
                                               id="dropdownMenuLink"
                                               data-toggle="dropdown" aria-haspopup="true"
                                               aria-expanded="false">
                                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                                 aria-labelledby="dropdownMenuLink">
                                                <div class="dropdown-header">Acciones:</div>
                                                <div class="dropdown-divider"></div>

                                                <a class="dropdown-item" href="javascript:void(0);"
                                                   onclick="formModal('{{ l.id }}', 'Editar {{ l }}', 'editcategoria', true, '')"
                                                   style="display: flex; align-items: center;">
                                                            <span class="icon text-gray-600"
                                                                  style="width: 15px; height: 15px; margin-right: 10px; display: flex; align-items: center; justify-content: center;">
                                                                <i class="fas fa-edit"></i>
                                                            </span>
                                                    <span class="text" style="flex-grow: 1;">Editar</span>
                                                </a>

                                                <a class="dropdown-item" href="javascript:void(0);"
                                                   onclick="eliminarajax('{{ l.id }}', '{{ l }}', 'delcategoria')"
                                                   style="display: flex; align-items: center;">
                                                            <span class="icon text-gray-600"
                                                                  style="width: 15px; height: 15px; margin-right: 10px; display: flex; align-items: center; justify-content: center;">
                                                                <i class="fas fa-trash"></i>
                                                            </span>
                                                    <span class="text" style="flex-grow: 1;">Eliminar</span>
                                                </a>
                                            </div>

                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
{% endblock %}