{% extends 'base_dashboard.html' %}
{% block atras %}{% url 'adm_venta' %}{% endblock %}
{% block extrahead %}
    <script>
        $(function () {
            var idventa = '{{ id }}'
            var existcliente = false;
            var cedulacliente = '';
            var maxproductos = 0;
            var precioproducto = 0;
            var precioservicio = 0;
            var actionpy = '{{ actionpy }}'
            var $pcantidad = $('#id_pcantidad')
            var table = $('#dataTable').DataTable();

            let typingTimer;

            const typingDelay = 300;

            var actions = `
                <div class="dropdown no-arrow" style="display: flex; justify-content: center">
                    <a class="dropdown-toggle" href="#" role="button"
                       id="dropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                         aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Acciones:</div>
                        <div class="dropdown-divider"></div>

                        <a class="dropdown-item btn_eliminarfila" href="javascript:void(0);"
                            style="display: flex; align-items: center;">
                            <span class="icon text-gray-600" style="width: 15px; height: 15px; margin-right: 10px; display: flex; align-items: center; justify-content: center;">
                                <i class="fas fa-trash"></i>
                            </span>
                            <span class="text" style="flex-grow: 1;">Eliminar</span>
                        </a>
                    </div>
                </div>
            `;

            $('#id_producto').select2();

            $('#id_lote').select2();

            $('#fieldset_areacliente').hide();

            $('#btn_plus1').click(function () {
                input = $('#id_pcantidad')
                cantidad = input.val()
                $('#id_pcantidad').val(++cantidad)
                manejarCambioCantidadBtn()
            });

            $('#btn_minus1').click(function () {
                input = $('#id_pcantidad')
                cantidad = input.val()
                $('#id_pcantidad').val(--cantidad)
                manejarCambioCantidadBtn()
            });

            $('#btn_plus2').click(function () {
                input = $('#id_scantidad')
                cantidad = input.val()
                $('#id_scantidad').val(++cantidad)
            });

            $('#btn_minus2').click(function () {
                const $cantidad = $('#id_scantidad')
                $cantidad.val(--cantidad)
                if ($cantidad.val() < 0) {
                    $cantidad.val(0)
                }
            });

            $('#btn_plus3').click(function () {
                input = $('#id_dcantidad')
                cantidad = input.val()
                $('#id_dcantidad').val(++cantidad)
            });

            $('#btn_minus3').click(function () {
                const $cantidad = $('#id_dcantidad')
                $cantidad.val(--cantidad)
                if ($cantidad.val() < 0) {
                    $cantidad.val(0)
                }
            });

            $('#btn_cliente').click(function () {
                $('#itemspanelTitle2').html('ASIGNAR CLIENTE');  // Actualiza el título del modal
                $("#itemspanel2").modal({backdrop: 'static', keyboard: false}).modal('show');
            });

            $('#id_cedula').keyup(function () {
                var cedula = $(this).val()
                if (cedula.length === 10) {
                    $.ajax({
                        type: 'GET',
                        data: {'action': 'obtenercliente', 'cedula': cedula},
                        success: function (data) {
                            if (data.result === true) {
                                $('#id_nombre').val(data.data.nombre).attr('readonly', true)
                                $('#id_apellido1').val(data.data.apellido1).attr('readonly', true)
                                $('#id_apellido2').val(data.data.apellido2).attr('readonly', true)
                                $('#id_direccion').val(data.data.direccion).attr('readonly', true)
                                $('#id_celular').val(data.data.celular).attr('readonly', true)
                                $('#id_correo').val(data.data.correo).attr('readonly', true)
                                existcliente = true;
                                cedulacliente = cedula
                            }
                        }
                    })
                } else {
                    eliminarClienteModal()
                }
            });

            $('#btn_guardarcliente').click(function () {
                var cedula = $('#id_cedula').val()
                var nombre = $('#id_nombre').val().toUpperCase()
                var apellido1 = $('#id_apellido1').val().toUpperCase()
                var apellido2 = $('#id_apellido2').val().toUpperCase()
                var celular = $('#id_celular').val()
                var correo = $('#id_correo').val()
                var direccion = $('#id_direccion').val()
                if (cedula !== '' && nombre !== '' && apellido1 !== '') {
                    if (existcliente) {
                        $('#nombrecliente').text('CLIENTE: ' + nombre + ' ' + apellido1 + ' ' + apellido2);
                        $('#cedulacliente').text('CÉDULA: ' + cedula);
                        $("#itemspanel2").modal('hide')

                        $('#fieldset_areacliente').show();
                    } else {
                        var formdata = new FormData()
                        formdata.append('cedula', cedula)
                        formdata.append('nombre', nombre)
                        formdata.append('apellido1', apellido1)
                        formdata.append('apellido2', apellido2)
                        formdata.append('celular', celular)
                        formdata.append('correo', correo)
                        formdata.append('direccion', direccion)
                        formdata.append('action', 'add')
                        $.ajax({
                            type: 'POST',
                            url: '{% url 'clientes' %}',
                            data: formdata,
                            processData: false,
                            contentType: false,
                            success: function (data) {
                                if (data.result === true) {
                                    Swal.fire({
                                        position: "center",
                                        icon: "success",
                                        title: "Cliente asignado",
                                        showConfirmButton: false,
                                        timer: 1000
                                    })
                                    $('#nombrecliente').text('Cliente: ' + nombre + ' ' + apellido1 + ' ' + apellido2);
                                    $('#cedulacliente').text('Cédula: ' + cedula);

                                    $('#fieldset_areacliente').show();

                                    $('#id_nombre').attr('readonly', true)
                                    $('#id_apellido1').attr('readonly', true)
                                    $('#id_apellido2').attr('readonly', true)
                                    $('#id_direccion').attr('readonly', true)
                                    $('#id_celular').attr('readonly', true)
                                    $('#id_correo').attr('readonly', true)
                                } else {
                                    Swal.fire({
                                        position: "center",
                                        icon: "error",
                                        title: "No se pudo registrar el cliente!",
                                        showConfirmButton: false,
                                        timer: 1000
                                    })
                                }
                                $("#itemspanel2").modal('hide')
                            }
                        })
                        $("#itemspanel2").modal('hide')
                    }
                } else {
                    Swal.fire({
                        icon: "error",
                        title: "¡Momento!",
                        html: `<p>Los campos <b>Cédula, Nombre y Apellido</b> son obligatorios</p>`,
                        confirmButtonText: "Ok"
                    })
                }
                cedulacliente = cedula
            });

            $('#eliminarcliente').click(function () {
                $('#nombrecliente').text('');
                $('#cedulacliente').text('');
                $('#id_cedula').val('')

                $('#fieldset_areacliente').hide();
                eliminarClienteModal();

            });

            $('#id_producto').change(function () {
                if ($(this).val() !== '') {
                    $('#id_lote').empty()
                    $('#id_precioproducto').val('')
                    $('#id_pcantidad').val('')
                    cargarLotes();
                } else {
                    $(this).val('')
                    $('#id_lote').empty()
                    $('#id_precioproducto').val('')
                    $('#id_pcantidad').val('')
                    precioproducto = 0
                }
            });

            $('#id_lote').change(function () {
                var valor = $(this).val()
                $.ajax({
                    type: 'GET',
                    url: '{{ request.path }}',
                    data: {'action': 'cargarprecioproducto', 'id': valor},
                    success: function (data) {
                        if (data.result === true) {
                            precioproducto = data.precio
                            $('#id_precioproducto').val(precioproducto)
                            maxproductos = data.cantidad
                            var $frmCantidad = $('#id_pcantidad')
                            $frmCantidad.val(1)
                            $frmCantidad.attr('max', maxproductos)
                        }
                    },
                    dataType: "json"
                });
            });

            $('#id_servicio').change(function () {
                var valor = $(this).val()
                if (valor !== '') {
                    $.ajax({
                        type: 'GET',
                        url: '{{ request.path }}',
                        data: {'action': 'cargarprecioservicio', 'id': valor},
                        success: function (data) {
                            if (data.result === true) {
                                precioservicio = data.precio
                                $('#id_precioservicio').val(precioservicio);
                                $('#id_scantidad').val(1);
                            }
                        },
                        dataType: "json"
                    });
                } else {
                    $('#id_precioservicio').val('');
                    $('#id_scantidad').val('');
                    precioservicio = 0
                }
            });

            $('#id_scantidad').on('keyup click', evitarDecimales);

            $('#id_descuento').on('keyup click', manejarCambioDescuento);

            $('#btn_guardar_p').click(function () {
                const detalle = $('#id_producto option:selected').text();
                const cantidad = $('#id_pcantidad').val();
                if (detalle !== '' && cantidad > 0) {
                    const id = $('#id_lote').val();
                    const tipo = 'PRODUCTO';

                    const idsExistentes = table.column(0).data().toArray();
                    const tiposExistentes = table.column(1).data().toArray();

                    if (idsExistentes.includes(id) && tiposExistentes.includes(tipo)) {
                        Swal.fire({
                            type: 'error',
                            icon: 'error',
                            title: 'Espera!',
                            text: 'No puedes agregar un mismo registro dos veces.'
                        })
                    } else {
                        const tablaDetalle = $('#dataTable').DataTable();
                        const total = precioproducto * cantidad

                        tablaDetalle.row.add([
                            id,
                            tipo,
                            detalle,
                            '$' + precioproducto,
                            cantidad,
                            '$' + total,
                            actions
                        ]).draw();

                        calcularTotales()
                    }
                } else {
                    Swal.fire({
                        type: 'warning',
                        icon: 'warning',
                        title: 'Espera!',
                        text: 'Es necesario agregar un PRODUCTO y una CANTIDAD'
                    })
                }
            });

            $('#btn_guardar_s').click(function () {
                const detalle = $('#id_servicio option:selected').text();
                const cantidad = $('#id_scantidad').val();
                if (detalle !== '' && cantidad > 0) {
                    const id = $('#id_servicio').val();
                    const tipo = 'SERVICIO';

                    const idsExistentes = table.column(0).data().toArray();
                    const tiposExistentes = table.column(1).data().toArray();

                    if (idsExistentes.includes(id) && tiposExistentes.includes(tipo)) {
                        Swal.fire({
                            type: 'error',
                            icon: 'error',
                            title: 'Espera!',
                            text: 'No puedes agregar un mismo registro dos veces.'
                        })
                    } else {
                        const tablaDetalle = $('#dataTable').DataTable();

                        const total = precioservicio * cantidad

                        tablaDetalle.row.add([
                            id,
                            tipo,
                            detalle,
                            '$' + precioservicio,
                            cantidad,
                            '$' + total,
                            actions
                        ]).draw();
                        calcularTotales()
                    }
                } else {
                    Swal.fire({
                        type: 'warning',
                        icon: 'warning',
                        title: 'Espera!',
                        text: 'Es necesario agregar un SERVICIO y una CANTIDAD'
                    })
                }
            });

            $('#btn_guardar_d').click(function () {
                const detalle = $('#id_detalle').val().toUpperCase();
                const ganancia = $('#id_ganancia').val();
                if (detalle && ganancia) {
                    const id = 0;
                    const cantidad = 0;
                    const tipo = 'ADICIONAL';

                    const detalleExistente = table.column(2).data().toArray();
                    if (detalleExistente.includes(detalle)) {
                        Swal.fire({
                            type: 'error',
                            icon: 'error',
                            title: 'Espera!',
                            text: 'No puedes agregar un mismo registro dos veces.'
                        })
                    } else {
                        const tablaDetalle = $('#dataTable').DataTable();

                        tablaDetalle.row.add([
                            id,
                            tipo,
                            detalle,
                            '$' + ganancia,
                            cantidad,
                            '$' + ganancia,
                            actions
                        ]).draw();
                        calcularTotales()
                    }
                } else {
                    Swal.fire({
                        type: 'warning',
                        icon: 'warning',
                        title: 'Espera!',
                        text: 'Es necesario agregar un DETALLE y una GANANCIA'
                    })
                }

            });

            $('#dataTable').on('click', '.btn_eliminarfila', function () {
                Swal.fire({
                    icon: "info",
                    title: "¿Realmente deseas eliminar este detalle?",
                    showCancelButton: true,
                    confirmButtonText: "Eliminar"
                }).then((result) => {
                    if (result.isConfirmed) {
                        const table = $('#dataTable').DataTable();
                        const fila = $(this).closest('tr');
                        const row = table.row(fila);

                        row.remove().draw();

                        Swal.fire({
                            position: "center",
                            icon: "success",
                            title: "Eliminado!",
                            showConfirmButton: false,
                            timer: 1000
                        })

                        $('#id_abono').trigger('click')

                        calcularTotales();
                    }
                });
            });

            $('#id_abono').on('keyup click', function () {
                var subtotal = calcularTotalVenta()
                if ($(this).val() > subtotal) {
                    $(this).val(subtotal)
                }
            });

            $('#btn_guardar').click(function () {
                if (table.rows().count() > 0) {
                    Swal.fire({
                        icon: "warning",
                        title: "¡Confirma la venta!",
                        html: `<p>Se recomienda verificar los detalles antes de registrar la venta.</p><hr><span style="font-size: 12px">Lo único que se registrará será lo que se encuentre en la tabla.</span>`,
                        showCancelButton: true,
                        confirmButtonText: "Confirmar"
                    }).then((result) => {
                        if (result.isConfirmed) {
                            bloqueointerface();
                            var dataToSend = [];
                            table.rows().every(function () {
                                var rowData = this.data();
                                dataToSend.push({
                                    id: rowData[0],
                                    tipo: rowData[1],
                                    detalle: rowData[2],
                                    preciou: rowData[3],
                                    cantidad: rowData[4],
                                    total: rowData[5]
                                });
                            });
                            {#console.log(dataToSend)#}
                            var formData = new FormData()
                            formData.append('tabla', JSON.stringify(dataToSend))
                            formData.append('descuento', $('#id_descuento').val())
                            formData.append('abono', $('#id_abono').val())
                            formData.append('action', actionpy)
                            formData.append('cedula', cedulacliente)
                            formData.append('id', idventa)
                            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')
                            $.ajax({
                                type: 'POST',
                                url: '{{ request.path }}',
                                data: formData,
                                processData: false,
                                contentType: false,
                                success: function (response) {
                                    $.unblockUI();
                                    if (response.result === true) {
                                        Swal.fire({
                                            position: "center",
                                            icon: "success",
                                            title: "¡Listo!",
                                            html: `<p><b>${response.mensaje}</b></p><hr>${response.detalle}`,
                                            showConfirmButton: false,
                                            timer: 1500
                                        }).then(() => {
                                            window.location.href = '{% url 'adm_venta' %}';
                                        });

                                    } else {
                                        Swal.fire({
                                            icon: "error",
                                            type: "error",
                                            title: "Parece que ha ocurrido un problema!",
                                            html: `<p><b>${response.mensaje}</b></p><hr>${response.detalle}`
                                        });
                                    }
                                },
                                error: function (xhr, status, error) {
                                    $.unblockUI();
                                    console.error('Error al enviar los datos:', error);
                                }
                            });
                        }
                    });
                } else {
                    Swal.fire({
                        icon: "error",
                        title: "¡Espera!",
                        html: `<p>Antes de poder registrar la venta debes <b>ingresar los productos en la tabla</b>.</p><hr><span style="font-size: 12px">Esta acción es obligatoria.</span>`,
                        confirmButtonText: "Aceptar"
                    })
                }
            });

            $pcantidad.on('keyup click', evitarDecimales);

            $pcantidad.on('keyup click', manejarCambioCantidad);

            function eliminarClienteModal() {
                $('#id_nombre').val('').removeAttr('readonly', true)
                $('#id_apellido1').val('').removeAttr('readonly', true)
                $('#id_apellido2').val('').removeAttr('readonly', true)
                $('#id_direccion').val('').removeAttr('readonly', true)
                $('#id_celular').val('').removeAttr('readonly', true)
                $('#id_correo').val('').removeAttr('readonly', true)
                existcliente = false;
                cedulacliente = ''
            }

            function manejarCambioDescuento() {
                const $descuento = $('#id_descuento');
                const subtotal = calcularSubtotal()
                const total = calcularTotalVenta()
                if ($descuento.val() > subtotal) {
                    $descuento.val(subtotal)
                }

                clearTimeout(typingTimer);
                typingTimer = setTimeout(() => {
                    $('#id_preciototal').text('$' + total);
                }, typingDelay);

                if ($('#id_abono').val() > total) {
                    $('#id_abono').val(total)
                }
            }

            function cargarLotes() {
                var valor = $('#id_producto').val();
                if (valor !== '') {
                    $.ajax({
                        type: 'GET',
                        url: '{{ request.path }}',
                        data: {'action': 'cargarlotes', 'id': valor},
                        success: function (data) {
                            if (data.result === true) {
                                $('#id_lote').empty();

                                $.each(data.selectLote, function (index, lote) {
                                    var id = lote.split('|')[0]
                                    var lt = lote.split('|')[1]
                                    $('#id_lote').append('<option value="' + id + '">' + lt + '</option>');
                                });
                                $('#id_lote').trigger('change')
                            }
                        },
                        dataType: "json"
                    });
                } else {
                    $('#id_precio').val('');
                }
            }

            function calcularTotales() {
                $('#id_preciototal').text('$' + calcularTotalVenta())
                $('#id_preciosubtotal').text('$' + calcularSubtotal())
            }

            function calcularTotalVenta() {
                var total = 0;
                var descuento = $('#id_descuento').val()
                $('#dataTable').DataTable().rows().every(function () {
                    var precio = parseFloat(this.data()[5].split('$')[1]);
                    if (!isNaN(precio)) {
                        total += precio;
                    }
                });

                if (total >= descuento) {
                    return total - descuento;
                }
                return 0
            }

            function calcularSubtotal() {
                subtotal = 0
                $('#dataTable').DataTable().rows().every(function () {
                    var precio = parseFloat(this.data()[5].split('$')[1]);
                    if (!isNaN(precio)) {
                        subtotal += precio;
                    }
                });
                return subtotal
            }

            function manejarCambioCantidad() {
                if ($pcantidad.val() > parseInt(maxproductos, 10)) {
                    $pcantidad.val(maxproductos)
                }

                if ($pcantidad.val() !== '' && $pcantidad.val() > 0) {
                    clearTimeout(typingTimer);
                    typingTimer = setTimeout(calcularTotal, typingDelay);
                }
            }

            function manejarCambioCantidadBtn() {
                const $cantidad = $('#id_pcantidad');

                if ($cantidad.val() < 0) {
                    $cantidad.val(0);
                }

                if ($cantidad.val() > parseInt(maxproductos, 10)) {
                    $cantidad.val(maxproductos);
                }

                if ($cantidad.val() !== '' && $cantidad.val() > 0) {
                    clearTimeout(typingTimer);
                    typingTimer = setTimeout(calcularTotal, typingDelay);
                }
            }

            function evitarDecimales() {
                var valor = $(this).val();
                if (valor % 1 !== 0) {
                    $(this).val(0);
                }
            }

            calcularTotales()
        })
    </script>
    <style>
        .select2 {
            width: 100%; /* Ajusta el ancho según tu diseño */
            white-space: nowrap; /* Evita el salto de línea */
            overflow: hidden; /* Oculta el contenido que se salga del ancho */
            text-overflow: ellipsis; /* Agrega "..." cuando el texto es demasiado largo */
        }
    </style>
{% endblock %}
{% block dashboard %}
    <!-- Modal -->
    <div class="modal fade" id="itemspanel2" tabindex="-1" role="dialog" aria-labelledby="itemspanelTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <!-- CABECERA DEL MODAL -->
                <div class="modal-header">
                    <h5 class="modal-title" id="itemspanelTitle2">FORMULARIO MODAL</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>

                <!-- CUERPO DEL MODAL -->
                <div class="modal-body" style="padding: 1.5%;">
                    <form id="form-modal2" class="form-horizontal form-modal" autocomplete="off" method="post"
                          enctype="multipart/form-data" action="{{ request.path }}">
                        {% csrf_token %}
                        <div class="row panelbody">
                            {% include 'modals/form4.html' %}
                        </div>
                    </form>
                </div>

                <!-- PIE DEL MODAL -->
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal"><i class="fa fa-times"></i>
                        Cerrar
                    </button>
                    <a class="btn btn-primary" id="btn_guardarcliente"><i class="fa fa-save"></i>
                        Guardar
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card mb-4 py-1 border-left-info">
            <div class="card-body">
                <div style="display: flex; flex-direction: row">
                    <div class="col-10">
                        <div class="flex w-full items-stretch" style="display: flex; flex-direction: row">
                            <!-- Columna 1: Botón -->
                            <div class="flex-1 flex items-center justify-start"
                                 style="margin-top: 15px; align-content: center;">
                                <a href="javascript:void(0);" id="btn_guardar_p" class="btn btn-success btn-icon-split">
                                    <span class="icon text-white-50"><i class="fas fa-plus"></i></span>
                                </a>
                            </div>

                            <!-- Columna 2: Formulario -->
                            <div class="flex-1 flex items-center justify-center" style="width: 100%">
                                {% include 'modals/form.html' %}
                            </div>

                            <!-- Columna 3: Botones adicionales -->
                            <div style="margin-top: 15px; align-content: center; display: flex; flex-direction: row; align-items: center; gap: 5px">
                                <a href="javascript:void(0);" id="btn_plus1" class="btn btn-success btn-icon-split">
                                    <span class="icon text-white-50"><i class="fas fa-plus"></i></span>
                                </a>
                                <a href="javascript:void(0);" id="btn_minus1" class="btn btn-danger btn-icon-split">
                                    <span class="icon text-white-50"><i class="fas fa-minus"></i></span>
                                </a>
                            </div>
                        </div>

                        <div class="flex w-full items-stretch" style="display: flex; flex-direction: row">
                            <!-- Columna 1: Botón -->
                            <div class="flex-1 flex items-center justify-start"
                                 style="margin-top: 15px; align-content: center;">
                                <a href="javascript:void(0);" id="btn_guardar_s" class="btn btn-success btn-icon-split">
                                    <span class="icon text-white-50"><i class="fas fa-plus"></i></span>
                                </a>
                            </div>

                            <!-- Columna 2: Formulario -->
                            <div class="flex-1 flex items-center justify-center" style="width: 100%">
                                {% include 'modals/form2.html' %}
                            </div>

                            <!-- Columna 3: Botones adicionales -->
                            <div style="margin-top: 15px; align-content: center; display: flex; flex-direction: row; align-items: center; gap: 5px">
                                <a href="javascript:void(0);" id="btn_plus2" class="btn btn-success btn-icon-split">
                                    <span class="icon text-white-50"><i class="fas fa-plus"></i></span>
                                </a>
                                <a href="javascript:void(0);" id="btn_minus2" class="btn btn-danger btn-icon-split">
                                    <span class="icon text-white-50"><i class="fas fa-minus"></i></span>
                                </a>
                            </div>
                        </div>

                        <div class="flex w-full items-stretch" style="display: flex; flex-direction: row">
                            <!-- Columna 1: Botón -->
                            <div class="flex-1 flex items-center justify-start"
                                 style="margin-top: 15px; align-content: center;">
                                <a href="javascript:void(0);" id="btn_guardar_d" class="btn btn-success btn-icon-split">
                                    <span class="icon text-white-50"><i class="fas fa-plus"></i></span>
                                </a>
                            </div>

                            <!-- Columna 2: Formulario -->
                            <div class="flex-1 flex items-center justify-center" style="width: 100%">
                                {% include 'modals/form3.html' %}
                            </div>

                            <!-- Columna 3: Botones adicionales -->
                            {#                            <div style="margin-top: 15px; align-content: center; display: flex; flex-direction: row; align-items: center; gap: 5px">#}
                            {#                                <a href="javascript:void(0);" id="btn_plus3" class="btn btn-success btn-icon-split">#}
                            {#                                    <span class="icon text-white-50"><i class="fas fa-plus"></i></span>#}
                            {#                                </a>#}
                            {#                                <a href="javascript:void(0);" id="btn_minus3" class="btn btn-danger btn-icon-split">#}
                            {#                                    <span class="icon text-white-50"><i class="fas fa-minus"></i></span>#}
                            {#                                </a>#}
                            {#                            </div>#}
                        </div>
                    </div>
                    <div style="border-left: 2px solid #ccc;"></div>
                    <div class="col-2" style="padding: 0; display: flex">
                        <div style="padding: 0; display: flex; flex-direction: column; justify-content: space-between;">
                            <!-- Columna 2: Formulario -->
                            <div class="flex-1 flex items-center justify-center" style="width: 100%">
                                {% include 'modals/form5.html' %}
                            </div>
                            <div class="col"
                                 style="justify-content: space-around; display: flex; flex-grow: inherit; width: 100%">
                                <a href="javascript:void(0);" id="btn_guardar" class="btn btn-info btn-icon-split"
                                   style="width: 100%">
                                    <span class="icon text-white-50"><i class="fas fa-save"></i></span>
                                    <span class="text">Registrar Venta</span>
                                </a>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="row"
                     style="display: flex; align-items: center; justify-content: space-between; padding: 0 20px 0 5px; margin-top: 20px;">
                    <!-- Primera Área -->
                    <div class="row" style="margin-left: 0; display: flex; flex-direction: row; align-items: center">
                        <div class="row" style="margin-right: 20px;">
                            <a href="javascript:void(0);" id="btn_cliente" class="btn btn-primary btn-icon-split"
                               style="margin-left: 20px;">
                                <span class="icon text-white-50"><i class="fas fa-user"></i></span>
                            </a>
                        </div>

                        <div class="row" style="align-items: center" id="fieldset_areacliente">
                            <!-- Segunda Área -->
                            <div class="row"
                                 style="display: flex; flex-direction: column; align-items: flex-start; margin-right: auto; padding-left: 20px">
                                <span id="nombrecliente"></span>
                                <span id="cedulacliente"></span>
                            </div>
                            <a href="javascript:void(0);" id="eliminarcliente" class="btn btn-danger btn-icon-split"
                               style="margin-left: 20px;">
                                <span class="icon text-white-50"><i class="fas fa-user-times"></i></span>
                            </a>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <!-- DataTales Example -->
        <div class="row" style="padding: 10px">
            <div class="card shadow mb-4 col-10">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable">
                            <thead>
                            <tr>
                                <th style="width: 1%">ID</th>
                                <th style="width: 2%">Tipo</th>
                                <th style="width: 5%">Detalle</th>
                                <th style="width: 1%">Precio Unitario</th>
                                <th style="width: 1%">Cantidad</th>
                                <th style="width: 1%">Total</th>
                                <th style="width: 1%"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for l in list2 %}
                                <tr>
                                    <td>{{ l.lote.id }}</td>
                                    <td>PRODUCTO</td>
                                    <td>{{ l.producto }}</td>
                                    <td>${{ l.preciounitario }}</td>
                                    <td>{{ l.cantidad }}</td>
                                    <td>${{ l.total }}</td>
                                    <td>
                                        <div class="dropdown no-arrow" style="display: flex; justify-content: center">
                                            <a class="dropdown-toggle" href="#" role="button"
                                               id="dropdownMenuLink"
                                               data-toggle="dropdown" aria-haspopup="true"
                                               aria-expanded="false">
                                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                                 aria-labelledby="dropdownMenuLink">
                                                <div class="dropdown-header">Acciones:</div>
                                                <div class="dropdown-divider"></div>

                                                <a class="dropdown-item btn_eliminarfila" href="javascript:void(0);"
                                                   style="display: flex; align-items: center;">
                                        <span class="icon text-gray-600"
                                              style="width: 15px; height: 15px; margin-right: 10px; display: flex; align-items: center; justify-content: center;">
                                            <i class="fas fa-trash"></i>
                                        </span>
                                                    <span class="text" style="flex-grow: 1;">Eliminar</span>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            {% for l in list3 %}
                                <tr>
                                    <td>{{ l.servicio.id }}</td>
                                    <td>SERVICIO</td>
                                    <td>{{ l.servicio }}</td>
                                    <td>${{ l.servicio.precio }}</td>
                                    <td>{{ l.cantidad }}</td>
                                    <td>${{ l.total }}</td>
                                    <td>
                                        <div class="dropdown no-arrow" style="display: flex; justify-content: center">
                                            <a class="dropdown-toggle" href="#" role="button"
                                               id="dropdownMenuLink"
                                               data-toggle="dropdown" aria-haspopup="true"
                                               aria-expanded="false">
                                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                                 aria-labelledby="dropdownMenuLink">
                                                <div class="dropdown-header">Acciones:</div>
                                                <div class="dropdown-divider"></div>

                                                <a class="dropdown-item btn_eliminarfila" href="javascript:void(0);"
                                                   style="display: flex; align-items: center;">
                                        <span class="icon text-gray-600"
                                              style="width: 15px; height: 15px; margin-right: 10px; display: flex; align-items: center; justify-content: center;">
                                            <i class="fas fa-trash"></i>
                                        </span>
                                                    <span class="text" style="flex-grow: 1;">Eliminar</span>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            {% for l in list4 %}
                                <tr>
                                    <td>0</td>
                                    <td>ADICIONAL</td>
                                    <td>{{ l.detalle }}</td>
                                    <td>${{ l.precio }}</td>
                                    <td>0</td>
                                    <td>${{ l.precio }}</td>
                                    <td>
                                        <div class="dropdown no-arrow" style="display: flex; justify-content: center">
                                            <a class="dropdown-toggle" href="#" role="button"
                                               id="dropdownMenuLink"
                                               data-toggle="dropdown" aria-haspopup="true"
                                               aria-expanded="false">
                                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                                 aria-labelledby="dropdownMenuLink">
                                                <div class="dropdown-header">Acciones:</div>
                                                <div class="dropdown-divider"></div>

                                                <a class="dropdown-item btn_eliminarfila" href="javascript:void(0);"
                                                   style="display: flex; align-items: center;">
                                        <span class="icon text-gray-600"
                                              style="width: 15px; height: 15px; margin-right: 10px; display: flex; align-items: center; justify-content: center;">
                                            <i class="fas fa-trash"></i>
                                        </span>
                                                    <span class="text" style="flex-grow: 1;">Eliminar</span>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card mb-4 py-1 border-left-info col-2">
                <div class="card-body"
                     style="display: flex; justify-content: space-between; flex-direction: column; align-items: center">
                    <div class="w-100 text-center" style="display: flex; flex-direction: column">
                        <div style="display: flex; flex-direction: column">
                            <span>SUBTOTAL:</span>
                            <span class="fs-2 fs-md-1 fs-lg-1 text-center" id="id_preciosubtotal">$--.--</span>
                        </div>
                        <div style="display: flex; flex-direction: column">
                            <span style="margin-top: 50%">TOTAL: </span>
                            <span style="font-size: 2vw; color: salmon" id="id_preciototal">$--.--</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}