{% extends 'base_dashboard.html' %}
{% block atras %}{% url 'adm_venta' %}{% endblock %}
{% block extrahead %}
    <script>
        $(function () {
            var existcliente = false
            var cedulacliente = ''
            var maxproductos = 0
            let typingTimer;
            const typingDelay = 300;
            var table = $('#dataTable').DataTable()


            $('#id_producto').select2()
            $('#id_lote').select2()

            $('#btn_cliente').click(function () {
                $('#itemspanelTitle2').html('ASIGNAR CLIENTE');  // Actualiza el título del modal
                $("#itemspanel2").modal({backdrop: 'static', keyboard: false}).modal('show');

            })

            $('#id_cedula').keyup(function () {
                var cedula = $(this).val()
                if (cedula.length === 10) {
                    $.ajax({
                        type: 'GET',
                        data: {'action': 'obtenercliente', 'cedula': cedula},
                        success: function (data) {
                            if (data.result === true) {
                                $('#id_nombre').val(data.data.nombre).attr('readonly', true)
                                $('#id_apellido1').val(data.data.apellido1).attr('readonly', true)
                                $('#id_apellido2').val(data.data.apellido2).attr('readonly', true)
                                $('#id_direccion').val(data.data.direccion).attr('readonly', true)
                                $('#id_celular').val(data.data.celular).attr('readonly', true)
                                $('#id_correo').val(data.data.correo).attr('readonly', true)
                                existcliente = true;
                                cedulacliente = cedula
                            }
                        }
                    })
                } else {
                    $('#id_nombre').val('').removeAttr('readonly', true)
                    $('#id_apellido1').val('').removeAttr('readonly', true)
                    $('#id_apellido2').val('').removeAttr('readonly', true)
                    $('#id_direccion').val('').removeAttr('readonly', true)
                    $('#id_celular').val('').removeAttr('readonly', true)
                    $('#id_correo').val('').removeAttr('readonly', true)
                    existcliente = false;
                    cedulacliente = ''
                }
            })

            $('#btn_guardarcliente').click(function () {
                var cedula = $('#id_cedula').val()
                var nombre = $('#id_nombre').val()
                var apellido1 = $('#id_apellido1').val()
                var apellido2 = $('#id_apellido2').val()
                var celular = $('#id_celular').val()
                var correo = $('#id_correo').val()
                var direccion = $('#id_direccion').val()
                if (cedula !== '' && nombre !== '' && apellido1 !== '') {
                    if (existcliente) {
                        $('#nombrecliente').text('Cliente: ' + nombre + ' ' + apellido1 + ' ' + apellido2);
                        $('#cedulacliente').text('Cédula: ' + cedula);
                        $("#itemspanel2").modal('hide')
                    } else {
                        var formdata = new FormData()
                        formdata.append('cedula', cedula)
                        formdata.append('nombre', nombre)
                        formdata.append('apellido1', apellido1)
                        formdata.append('apellido2', apellido2)
                        formdata.append('celular', celular)
                        formdata.append('correo', correo)
                        formdata.append('direccion', direccion)
                        formdata.append('action', 'add')
                        $.ajax({
                            type: 'POST',
                            url: '{% url 'clientes' %}',
                            data: formdata,
                            processData: false,
                            contentType: false,
                            success: function (data) {
                                if (data.result === true) {
                                    Swal.fire({
                                        position: "center",
                                        icon: "success",
                                        title: "Cliente asignado",
                                        showConfirmButton: false,
                                        timer: 1000
                                    })
                                    $('#nombrecliente').text('Cliente: ' + nombre + ' ' + apellido1 + ' ' + apellido2);
                                    $('#cedulacliente').text('Cédula: ' + cedula);

                                    $('#id_nombre').attr('readonly', true)
                                    $('#id_apellido1').attr('readonly', true)
                                    $('#id_apellido2').attr('readonly', true)
                                    $('#id_direccion').attr('readonly', true)
                                    $('#id_celular').attr('readonly', true)
                                    $('#id_correo').attr('readonly', true)
                                } else {
                                    Swal.fire({
                                        position: "center",
                                        icon: "error",
                                        title: "No se pudo registrar el cliente!",
                                        showConfirmButton: false,
                                        timer: 1000
                                    })
                                }
                                $("#itemspanel2").modal('hide')
                            }
                        })
                        $("#itemspanel2").modal('hide')
                    }
                } else {
                    Swal.fire({
                        icon: "error",
                        title: "¡Momento!",
                        html: `<p>Los campos <b>Cédula, Nombre y Apellido</b> son obligatorios</p>`,
                        confirmButtonText: "Ok"
                    })
                }
            })

            $('#id_producto').change(function () {
                if ($(this).val() !== '') {
                    $('#id_lote').empty()
                    $('#id_preciou').val('')
                    $('#id_cantidad').val('')
                    $('#id_precios').val('')
                    cargarLotes();
                } else {
                    $(this).val('')
                    $('#id_lote').empty()
                    $('#id_preciou').val('')
                    $('#id_cantidad').val('')
                    $('#id_precios').val('')
                }
            });

            $('#id_lote').change(function () {
                var valor = $(this).val()
                $.ajax({
                    type: 'GET',
                    url: '{{ request.path }}',
                    data: {'action': 'cargarprecio', 'id': valor},
                    success: function (data) {
                        if (data.result === true) {
                            $('#id_preciou').val('$' + data.precio);
                            maxproductos = data.cantidad
                            var frmCantidad = $('#id_cantidad')
                            frmCantidad.val('')
                            frmCantidad.attr('max', maxproductos)
                            $('#id_precios').val('')
                            calcularTotal();
                        }
                    },
                    dataType: "json"
                });
            })

            function manejarCambioCantidad() {
                if ($(this).val() > parseInt(maxproductos, 10)) {
                    $(this).val(maxproductos)
                }

                const $cantidad = $('#id_cantidad');
                if ($cantidad.val() !== '' && $cantidad.val() > 0) {
                    clearTimeout(typingTimer);
                    typingTimer = setTimeout(calcularTotal, typingDelay);
                }
            }

            $('#id_cantidad').on('keyup click', manejarCambioCantidad);

            function manejarCambioDescuento() {
                const $descuento = $('#id_descuento');
                clearTimeout(typingTimer);
                typingTimer = setTimeout(() => {
                    $('#id_preciot').val('$' + calcularTotalVenta());
                }, typingDelay);
            }

            $('#id_descuento').on('keyup click', manejarCambioDescuento);

            $('#id_addproducto').click(function () {
                const id = $('#id_lote').val();
                const producto = $('#id_producto option:selected').text();
                const preciou = $('#id_preciou').val();
                const cantidad = $('#id_cantidad').val();
                const precios = $('#id_precios').val();

                const actions = `
                    <div class="dropdown no-arrow" style="display: flex; justify-content: center">
                        <a class="dropdown-toggle" href="#" role="button"
                           id="dropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                             aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Acciones:</div>
                            <div class="dropdown-divider"></div>

                            <a class="dropdown-item btn_eliminarfila" href="javascript:void(0);"
                                style="display: flex; align-items: center;">
                                <span class="icon text-gray-600" style="width: 15px; height: 15px; margin-right: 10px; display: flex; align-items: center; justify-content: center;">
                                    <i class="fas fa-trash"></i>
                                </span>
                                <span class="text" style="flex-grow: 1;">Eliminar</span>
                            </a>
                        </div>
                    </div>
                `;
                const tablaDetalle = $('#dataTable').DataTable();

                tablaDetalle.row.add([
                    id,
                    producto,
                    preciou,
                    cantidad,
                    precios,
                    actions
                ]).draw();
                $('#id_addproducto').addClass('disabled')
                $('#id_preciot').val('$' + calcularTotalVenta())
                $('#id_preciosd').val('$' + calcularSubtotal())
            });

            $('#dataTable').on('click', '.btn_eliminarfila', function () {
                Swal.fire({
                    icon: "info",
                    title: "¿Realmente deseas eliminar este detalle?",
                    showCancelButton: true,
                    confirmButtonText: "Eliminar"
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Obtener la fila con DataTables API
                        const table = $('#dataTable').DataTable();
                        const fila = $(this).closest('tr');
                        const row = table.row(fila);  // Usar .row() para obtener la fila con DataTables

                        // Eliminar la fila
                        row.remove().draw(); // Eliminar la fila y redibujar la tabla
                        Swal.fire({
                            position: "center",
                            icon: "success",
                            title: "Eliminado!",
                            showConfirmButton: false,
                            timer: 1000
                        })
                        $('#id_preciosd').val('')
                        $('#id_preciot').val('')
                        $('#id_addproducto').removeClass('disabled');
                    }
                });
            });

            function cargarLotes() {
                var valor = $('#id_producto').val();
                if (valor !== '') {
                    $.ajax({
                        type: 'GET',
                        url: '{{ request.path }}',
                        data: {'action': 'cargarlotes', 'id': valor},
                        success: function (data) {
                            if (data.result === true) {
                                $('#id_lote').empty();

                                $.each(data.selectLote, function (index, lote) {
                                    var id = lote.split('|')[0]
                                    var lt = lote.split('|')[1]
                                    $('#id_lote').append('<option value="' + id + '">' + lt + '</option>');
                                });
                                $('#id_lote').trigger('change')

                                if(data.selectLote.length == 1){
                                    $('#id_lote').attr('readonly', true)
                                }
                            }
                        },
                        dataType: "json"
                    });
                } else {
                    $('#id_precio').val('');
                }
            }

            function calcularTotal() {
                var cantidad = parseFloat($('#id_cantidad').val()); // Obtener la cantidad
                var precioUnitario = parseFloat($('#id_preciou').val().replace('$', '')); // Obtener el precio unitario, sin el signo de dólar
                if (!isNaN(cantidad) && !isNaN(precioUnitario)) {
                    var total = precioUnitario * cantidad; // Calcular el total
                    $('#id_precios').val('$' + total.toFixed(2)); // Mostrar el total con dos decimales
                    $('#id_preciot').val('$' + calcularTotalVenta()); // Actualizar el total general de la venta
                    $('#id_addproducto').removeClass('disabled'); // Habilitar el botón de agregar producto
                }
            }

            function calcularTotalVenta() {
                var total = 0;
                var descuento = $('#id_descuento').val()
                $('#dataTable').DataTable().rows().every(function () {
                    var precio = parseFloat(this.data()[4].split('$')[1]);
                    if (!isNaN(precio)) {
                        total += precio;
                    }
                });

                if (total >= descuento) {
                    return total - descuento;
                }
                return 0
            }

            function calcularSubtotal() {
                subtotal = 0
                $('#dataTable').DataTable().rows().every(function () {
                    var precio = parseFloat(this.data()[4].split('$')[1]);
                    if (!isNaN(precio)) {
                        subtotal += precio;
                    }
                });
                console.log(subtotal)
                return subtotal
            }

            $('#btn_guardar').click(function () {
                if (table.rows().count() > 0) {

                    Swal.fire({
                        icon: "warning",
                        title: "¡Confirma la venta!",
                        html: `<p>Las ventas no se pueden modificar, verifica los detalles antes de proceder</p><hr><span style="font-size: 12px">Tendrán que llamar a Zelen si la cagan.</span>`,
                        showCancelButton: true,
                        confirmButtonText: "Confirmar"
                    }).then((result) => {
                        if (result.isConfirmed) {
                            bloqueointerface();
                            var dataToSend = [];
                            table.rows().every(function () {
                                var rowData = this.data();
                                dataToSend.push({
                                    id: rowData[0],
                                    producto: rowData[1],
                                    preciou: rowData[2],
                                    cantidad: rowData[3],
                                    total: rowData[4]
                                });
                            });
                            var formData = new FormData()
                            formData.append('tabla', JSON.stringify(dataToSend))
                            formData.append('descuento', $('#id_descuento').val())
                            formData.append('preciov', $('#id_preciot').val())
                            formData.append('detalle', $('#id_detalle').val())
                            formData.append('action', 'add')
                            formData.append('cedula', cedulacliente)
                            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')
                            $.ajax({
                                type: 'POST',
                                url: '{{ request.path }}',
                                data: formData,
                                processData: false,
                                contentType: false,
                                success: function (response) {
                                    $.unblockUI();
                                    if (response.result === true) {
                                        Swal.fire({
                                            position: "center",
                                            icon: "success",
                                            title: "¡Listo!",
                                            html: `<p><b>${response.mensaje}</b></p><hr>${response.detalle}`,
                                            showConfirmButton: false,
                                            timer: 1500
                                        }).then(() => {
                                            window.location.href = '{% url 'adm_venta' %}';
                                        });

                                    } else {
                                        Swal.fire({
                                            icon: "error",
                                            type: "error",
                                            title: "Parece que ha ocurrido un problema!",
                                            html: `<p><b>${response.mensaje}</b></p><hr>${response.detalle}`
                                        });
                                    }
                                },
                                error: function (xhr, status, error) {
                                    $.unblockUI();
                                    console.error('Error al enviar los datos:', error);
                                }
                            });
                        }
                    });
                } else {
                    Swal.fire({
                        icon: "error",
                        title: "¡Espera!",
                        html: `<p>Antes de poder registrar la venta debes <b>ingresar los productos en la tabla</b>.</p><hr><span style="font-size: 12px">Esta acción es obligatoria.</span>`,
                        confirmButtonText: "Aceptar"
                    })
                }
            })
        })
    </script>
{% endblock %}
{% block dashboard %}
    <!-- Modal -->
    <div class="modal fade" id="itemspanel2" tabindex="-1" role="dialog" aria-labelledby="itemspanelTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <!-- CABECERA DEL MODAL -->
                <div class="modal-header">
                    <h5 class="modal-title" id="itemspanelTitle2">FORMULARIO MODAL</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>

                <!-- CUERPO DEL MODAL -->
                <div class="modal-body" style="padding: 1.5%;">
                    <form id="form-modal2" class="form-horizontal form-modal" autocomplete="off" method="post"
                          enctype="multipart/form-data" action="{{ request.path }}">
                        {% csrf_token %}
                        <div class="row panelbody">
                            {% include 'modals/form2.html' %}
                        </div>
                    </form>
                </div>

                <!-- PIE DEL MODAL -->
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal"><i class="fa fa-times"></i>
                        Cerrar
                    </button>
                    <a class="btn btn-primary" id="btn_guardarcliente"><i class="fa fa-save"></i>
                        Guardar
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card mb-4 py-1 border-left-info">
            <div class="card-body">
                <div style="display: flex; width: 100%; align-items: stretch;">
                    <div style="flex: 1; padding-right: 10px; padding-left: 0" class="col-9">
                        {% include 'modals/form.html' %}
                    </div>

                    <!-- Línea divisora -->
                    <div style="width: 1px; background-color: #8f8f8f;"></div>

                    <div style="flex: 1; padding-left: 10px;" class="col-3">
                        {% include 'modals/form3.html' %}
                    </div>
                </div>

                <div class="row"
                     style="display: flex; align-items: center; justify-content: flex-start; padding: 0 24px 0 24px; margin-top: 20px;">
                    <!-- Primera Área -->
                    <div class="row" style="display: flex; align-items: center; margin-right: 20px;">
                        <a href="javascript:void(0);" style="margin-left: 10px" id="id_addproducto"
                           class="btn btn-info btn-icon-split disabled">
                            <span class="icon text-white-50"><i class="fas fa-plus"></i></span>
                            <span class="text">Agregar Producto</span>
                        </a>
                        <a href="javascript:void(0);" id="btn_cliente" class="btn btn-primary btn-icon-split"
                           style="margin-left: 20px;">
                            <span class="icon text-white-50"><i class="fas fa-user"></i></span>
                        </a>
                    </div>

                    <!-- Segunda Área -->
                    <div class="row"
                         style="display: flex; flex-direction: column; align-items: flex-start; margin-right: auto; padding-left: 20px">
                        <span id="nombrecliente"></span>
                        <span id="cedulacliente"></span>
                    </div>

                    <!-- Tercera Área -->
                    <a href="javascript:void(0);" id="btn_guardar" class="btn btn-success btn-icon-split">
                        <span class="icon text-white-50"><i class="fas fa-save"></i></span>
                        <span class="text">Guardar</span>
                    </a>
                </div>

            </div>
        </div>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th style="width: 1%">ID</th>
                            <th style="width: 5%">Producto</th>
                            <th style="width: 1%">Precio Unitario</th>
                            <th style="width: 1%">Cantidad</th>
                            <th style="width: 1%">Total</th>
                            <th style="width: 1%"></th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}