{% extends 'base_dashboard.html' %}
{% block extrahead %}
    <script>
        $(function () {
            const table = $('#dataTable').DataTable();
            table.order([0, 'desc']).draw();
            const $estado = $('#id_estado');
            $estado.select2()
        })
    </script>
{% endblock %}
{% block dashboard %}
    <div class="container-fluid">
        <div class="card mb-4 py-1 border-left-info">
            <div class="card-body" style="display: flex; justify-content: space-between">
                <a href="{% url 'registroventa' %}" class="btn btn-info btn-icon-split">
                    <span class="icon text-white-50"><i class="fas fa-plus"></i></span>
                    <span class="text">Registrar Venta</span>
                </a>

                <div style="width: 40%">
                    <form method="GET" action="{% url 'adm_venta' %}"
                          style="display: flex; flex-direction: row; gap: 10px">
                        <a href="{{ request.path }}?action=excelfechaestado&fecha={{ fechafiltro }}&estado={{ estadofiltro }}" class="btn btn-success btn-icon-split" style="width: 100px">
                            <span style="width: 100%" class="icon text-white-50"><i class="fas fa-file-excel"></i></span>
                        </a>
                        <input type="date" name="fechafiltro" value="{{ fechafiltro }}" class="form-control" onchange="this.form.submit()">
                        <select name="estado" id="id_estado" onchange="this.form.submit()">
                            {% for opcion in opciones %}
                                <option value="{{ opcion.0 }}" {% if request.GET.estado == opcion.0|stringformat:"s" %}selected{% endif %}>{{ opcion.1 }}</option>
                            {% endfor %}
                        </select>
                        <a href="{% url 'adm_venta' %}" class="btn btn-info btn-icon-split" style="width: 100px">
                            <span class="icon text-white-50"><i class="fas fa-sync"></i></span>
                        </a>
                    </form>

                </div>

            </div>
        </div>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th style="width: .1%">ID</th>
                            <th style="width: 2%">Detalle</th>
                            <th style="width: .5%">Fecha</th>
                            <th style="width: .8%">Cliente</th>
                            <th style="width: .1%">Abono</th>
                            <th style="width: .1%">Subtotal</th>
                            <th style="width: .1%">Descuento</th>
                            <th style="width: .1%">Total</th>
                            <th style="width: .1%;">Estado</th>
                            <th style="width: .2%"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for l in list %}
                            <tr>
                                <td>{{ l.id }}</td>
                                <td style="font-size: 12px">{{ l.obtener_detalles|safe }}</td>
                                <td>{{ l.fecha_venta|date:"d-m-Y" }}</td>
                                <td style="font-size: 12px">{{ l.cliente|default_if_none:""|safe }}</td>
                                <td style="color:{% if l.abono == 0 %}salmon{% elif l.abono == l.totalventa %}#1cc88a{% else %}#2e59d9{% endif %}"><b>${{ l.abono }}</b></td>
                                <td>${{ l.subtotalventa }}</td>
                                <td>${{ l.descuento }}</td>
                                <td style="color: salmon"><b>${{ l.totalventa }}</b></td>
                                <td style="color:{% if l.estado == 1 %}salmon{% elif l.estado == 2 %}#1cc88a{% endif %}"><b>{{ l.get_estado_display }}</b></td>
                                <td style="text-align: center">
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button"
                                           id="dropdownMenuLink"
                                           data-toggle="dropdown" aria-haspopup="true"
                                           aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                             aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Acciones:</div>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="{{ request.path }}?action=edit&id={{ l.id }}" style="display: flex; align-items: center;">
                                                <span class="icon text-gray-600" style="width: 15px; height: 15px; margin-right: 10px; display: flex; align-items: center; justify-content: center;"><i class="fas fa-edit"></i></span>
                                                <span class="text" style="flex-grow: 1;">Editar</span>
                                            </a>
                                            <a class="dropdown-item" href="javascript:void(0);"
                                               onclick="eliminarajax('{{ l.id }}', '{{ l }}', 'del')"
                                               style="display: flex; align-items: center;">
                                                <span class="icon text-gray-600" style="width: 15px; height: 15px; margin-right: 10px; display: flex; align-items: center; justify-content: center;"><i class="fas fa-trash"></i></span>
                                                <span class="text" style="flex-grow: 1;">Eliminar</span>
                                            </a>
                                            {% if l.estado == 1 %}
                                                <a class="dropdown-item id_generarfactura" href="javascript:void(0);"
                                               style="display: flex; align-items: center;"
                                               onclick="formModal('{{ l.id }}', 'PENDIENTE: {{ l.obtener_deuda }}', 'abonardeuda', true, '')">
                                                <span class="icon text-gray-600"
                                                      style="width: 15px; height: 15px; margin-right: 10px; display: flex; align-items: center; justify-content: center;">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                                <span class="text" style="flex-grow: 1;">Abonar</span>
                                            </a>
                                            {% endif %}
                                            <a class="dropdown-item id_generarfactura"
                                               href="{{ request.path }}?action=generarfacturapdf&id={{ l.id }}" style="display: flex; align-items: center;">
                                                <span class="icon text-gray-600" style="width: 15px; height: 15px; margin-right: 10px; display: flex; align-items: center; justify-content: center;"><i class="fas fa-file-pdf"></i></span>
                                                <span class="text" style="flex-grow: 1;">Nota Venta</span>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}