body {
    overflow-x: hidden;
    overflow-y: auto;
}

.spinner {
    border: 6px solid #e74a3b;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;

    width: 60px;
    height: 60px;

    animation: spin 1s infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg) scale(1.2);
    }
    100% {
        transform: rotate(360deg);
    }
}

.btn-animate {
    transition: all 0.3s ease; /* Cambios suaves en cualquier propiedad */
}

.btn-animate:hover {
    background-color: #e6e6e6; /* Color al pasar el mouse */
    transform: scale(1.05); /* Ligero agrandamiento */
}

.btn-animate:active {
    transform: scale(0.95); /* Pequeño efecto al hacer clic */
}

.icon-size {
    font-size: 15px; /* Ajusta el tamaño aquí */
}

.form-control:focus,
.select2-container--default.select2-container--focus .select2-selection--single {
    box-shadow: 0 0 0 0.2rem rgba(78, 115, 223, 0.25);
}

.select2-container .select2-search__field:focus {
    outline: none; /* Elimina el contorno predeterminado */
    box-shadow: 0 0 0 0.2rem rgba(78, 115, 223, 0.25); /* Añadir sombra si es necesario */
}


.select2-container--default .select2-selection--single:focus {
    outline: none;
}

.activom{
    background: rgba(194, 188, 188, 0.17);
    border-radius: 10px 20px 20px 10px;
}

.activom a i, .activom a span{
    color: #fff !important;
}