<input type="hidden" name="id" value="{{ id }}"/>
<input type="hidden" name="action" value="{{ action }}"/>

{% for field in form2 %}
    {% if field.field.widget.attrs.separator %}
        {% if field.field.widget.attrs.blanklinebefore %}
        {% endif %}
        <div style="width: 100%; height: max-content">
            <h6 style="width:100%; text-align:center; line-height:0.1em; margin:20px 0 10px; border-bottom: 1px solid #b3b3b3; color: #b3b3b3">
                <span style="padding:0 10px; background: #fff;">
                    {% if field.field.widget.attrs.separatortitle %}
                        {{ field.field.widget.attrs.separatortitle }}
                    {% endif %}
                </span>
            </h6>
        </div>
    {% endif %}
    <div id="fieldset_{{ field.name }}" class="col-lg-{{ field.field.widget.attrs.col }}" style="float: left; padding-right: 10px;">
        {% if field.field.label %}
            <label class="control-label pr-2"
               for="id_{{ field.name }}"><b>{{ field.label }}</b>&nbsp;:
            </label>
        {% endif %}
        {{ field }}
        <p class="help-text">{{ field.help_text }} </p>
    </div>
{% endfor %}

{{ form2.media|safe }}

<script>
    $(function () {
        $("select").select2({width: '100%'});
    });
</script>