<input type="hidden" name="id" value="{{ id }}"/>
<input type="hidden" name="action" value="{{ action }}"/>

{% for field in form %}
    {% if field.field.widget.attrs.separator %}
        {% if field.field.widget.attrs.blanklinebefore %}
        {% endif %}
        <div style="width: 100%; height: max-content">
            <h6 style="width:100%; text-align:center; line-height:1em; margin:40px 0 10px; color: #b3b3b3">
                <span style="padding:0 10px; background: #fff;">
                    {% if field.field.widget.attrs.separatortitle %}
                        {{ field.field.widget.attrs.separatortitle }}
                    {% endif %}
                </span>
            </h6>
        </div>
    {% endif %}
    <div id="fieldset_{{ field.name }}" class="col-lg-{{ field.field.widget.attrs.col }}"
         style="float: left; padding-right: 10px;">
        {% if field.field.label %}
            <label class="control-label pr-2"
                   for="id_{{ field.name }}"><b>{{ field.label }}</b>&nbsp;:
            </label>
        {% endif %}
        {{ field }}
        <p class="help-text">{{ field.help_text }} </p>
    </div>
{% endfor %}

{{ form.media|safe }}

<script>
    $(function () {
        $("select").select2({width: '100%'});

        let typingTimer;
        const typingDelay = 300;

        $('#id_cedula').keyup(function () {
            var cedula = $(this).val()
            if (cedula.length === 10) {
                $.ajax({
                    type: 'GET',
                    url: '{{ request.path }}',
                    data: {'action': 'obtenercliente', 'cedula': cedula},
                    success: function (data) {
                        if (data.result === true) {
                            $('#id_nombre').val(data.data.nombre).attr('readonly', true)
                            $('#id_apellido1').val(data.data.apellido1).attr('readonly', true)
                            $('#id_apellido2').val(data.data.apellido2).attr('readonly', true)
                            $('#id_direccion').val(data.data.direccion).attr('readonly', true)
                            $('#id_celular').val(data.data.celular).attr('readonly', true)
                            $('#id_correo').val(data.data.correo).attr('readonly', true)
                        } else {
                            eliminarClienteModal()
                        }
                    }
                })
            } else {
                eliminarClienteModal()
            }
        });

        function eliminarClienteModal() {
            $('#id_nombre').val('').removeAttr('readonly', true)
            $('#id_apellido1').val('').removeAttr('readonly', true)
            $('#id_apellido2').val('').removeAttr('readonly', true)
            $('#id_direccion').val('').removeAttr('readonly', true)
            $('#id_celular').val('').removeAttr('readonly', true)
            $('#id_correo').val('').removeAttr('readonly', true)
        }
    });
</script>