{% extends 'base_dashboard.html' %}

{% block extrahead %}
    <script>
        $(function () {
            var table = $('#dataTable').DataTable();
            table.order([0, 'desc']).draw();
        })
    </script>
{% endblock %}
{% block atras %}{% url 'productos' %}{% endblock %}
{% block dashboard %}
    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="font-size: 13px">
                        <thead>
                        <tr style="text-align: center">
                            <th style="width: .2%">ID</th>
                            <th style="width: 1%">Fecha Movimiento</th>
{#                            <th style="width: 1%">Tipo Movimiento</th>#}
                            <th style="width: 1%">Cantidad</th>
                            <th style="width: 1%">Saldo Cantidad</th>
                            <th style="width: 1%">Precio Unitario</th>
                            <th style="width: 1%">Costo Unitario</th>
                            <th style="width: 1%">Costo Total</th>
{#                            <th style="width: 1%">Saldo Costo</th>#}
{#                            <th style="width: 1%">Saldo Ganancia</th>#}
                            <th style="width: 2%">Lote</th>
                            <th style="width: 1%">Tipo</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for l in list %}
                            <tr style="text-align: center;">
                                <td>{{ l.id }}</td>
                                <td>{{ l.fecha_movimiento }}</td>
{#                                <td >{{ l.cantidad }}</td>#}
                                <td><b><span style="color: {% if l.tipo_movimiento == 1 %} rgb(154,55,91){% elif l.tipo_movimiento == 2 %} rgb(77,124,30){% else %} rgb(157,145,31){% endif %}; border-radius: 15px; padding:4px 9px;background-color: {% if l.tipo_movimiento == 1 %} rgba(236,90,151,0.71){% elif l.tipo_movimiento == 2 %} rgba(138,245,49,0.69){% else %} rgba(255,239,132,0.73){% endif %}">{% if l.tipo_movimiento == 2 or l.tipo_movimiento == 3 %}-{% else %}+{% endif %}{{ l.cantidad }}</span></b></td>
                                <td>{{ l.saldo_cantidad }}</td>
                                <td>${{ l.precio_unitario }}</td>
                                <td>${{ l.costo_unitario }}</td>
                                <td>${{ l.costo_total }}</td>
{#                                <td>${{ l.saldo_costo }}</td>#}
{#                                <td>${{ l.saldo_ganancia }}</td>#}
                                <td>{{ l.lote }}</td>
                                <td><b><span style="color: {% if l.tipo_movimiento == 1 %} rgb(154,55,91){% elif l.tipo_movimiento == 2 %} rgb(77,124,30){% else %} rgb(157,145,31){% endif %}; border-radius: 15px; padding:4px 9px;background-color: {% if l.tipo_movimiento == 1 %} rgba(236,90,151,0.71){% elif l.tipo_movimiento == 2 %} rgba(138,245,49,0.69){% else %} rgba(255,239,132,0.73){% endif %}">{{ l.get_tipo_movimiento_display }}</span></b></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

{% endblock %}