
{% for field in form %}
    {% if field.field.widget.attrs.separator %}
        {% if field.field.widget.attrs.blanklinebefore %}
        {% endif %}
        <div style="width: 100%; height: max-content">
            <h6 style="width:100%; text-align:left; border-bottom: 1px solid #98a3ab; line-height:0.1em; margin:10px 0 20px;">
                    <span style="padding:0 10px; background: #ffffff;">
                        {% if field.field.widget.attrs.separatortitle %}
                            {{ field.field.widget.attrs.separatortitle }}
                        {% endif %}
                     </span>
            </h6>
        </div>
    {% endif %}
    <div id="fieldset_{{ field.name }}" class="col-lg-{{ field.field.widget.attrs.col }}"
         style="float: left; padding-right: 10px;">
        <label class="control-label pr-2" for="id_{{ field.name }}"><b>{{ field.label }}&nbsp;:</b></label>
        {{ field }}
        <p class="help-text">{{ field.help_text }} </p>
    </div>
{% endfor %}

<div class="row-fluid">
    <div style="text-align: right; float: left; width: 100%">
        <br>
        <button type="submit" id="submit" class="btn btn-success"><i class="fa fa-check-circle"></i> Guardar</button>
        <a href="javascript:;" class="btn btn-danger" data-bs-dismiss="modal"><i class="fa fa-times-circle"></i>
            Cancelar</a>
    </div>
</div>

{{ form.media|safe }}