<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title></title>

    <!-- Custom fonts for this template-->
    <link href="/static/dashboard/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/static/dashboard/css/sb-admin-2.min.css" rel="stylesheet">
    <!-- Custom styles for this page -->
    <link href="/static/dashboard/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    <!-- Agregar CSS de Select2 -->
    <link href="/static/select2/dist/css/select2.min.css" rel="stylesheet" />

    <style>
        .spinner {
            border: 6px solid #e74a3b;
            border-top-color: transparent;
            border-bottom-color: transparent;
            border-radius: 50%;

            width: 60px;
            height: 60px;

            animation: spin 1s infinite;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            50% {
                transform: rotate(180deg) scale(1.2);
            }
            100% {
                transform: rotate(360deg);
            }
        }

        .btn-animate {
            transition: all 0.3s ease; /* Cambios suaves en cualquier propiedad */
        }

        .btn-animate:hover {
            background-color: #e6e6e6; /* Color al pasar el mouse */
            transform: scale(1.05); /* Ligero agrandamiento */
        }

        .btn-animate:active {
            transform: scale(0.95); /* Pequeño efecto al hacer clic */
        }

        .icon-size {
            font-size: 15px; /* Ajusta el tamaño aquí */
        }

        .form-control:focus,
        .select2-container--default.select2-container--focus .select2-selection--single {
            box-shadow: 0 0 0 0.2rem rgba(78, 115, 223, 0.25);
        }
    </style>
</head>
<body id="page-top">
<!-- Modal -->
<div class="modal fade" id="itemspanel" tabindex="-1" role="dialog" aria-labelledby="itemspanelTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <!-- CABECERA DEL MODAL -->
            <div class="modal-header">
                <h5 class="modal-title" id="itemspanelTitle">FORMULARIO MODAL</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <!-- CUERPO DEL MODAL -->
            <div class="modal-body" style="padding: 1.5%;">
                <form id="form-modal" class="form-horizontal form-modal" autocomplete="off" method="post"
                      enctype="multipart/form-data" action="{{ request.path }}">
                    {% csrf_token %}
                    <div class="row panelbody">
                        <!-- Aquí se agregarán los campos del formulario dinámicamente -->
                    </div>
                </form>
            </div>

            <!-- PIE DEL MODAL -->
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal"><i class="fa fa-times"></i>
                    Cerrar
                </button>
                <button class="btn btn-primary" type="submit" form="form-modal"><i class="fa fa-save"></i>
                    Guardar
                </button>
            </div>
        </div>
    </div>
</div>


<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fa fa-toolbox"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Mecánica</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="/">
                <i class="fa fa-chart-line"></i>
                <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Módulos
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'adm_servicio' %}" aria-expanded="true"
               aria-controls="collapseTwo">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Servicios</span>
                <i class="fas fa-angle-right float-right"></i> <!-- Ícono de flecha manual -->
            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fa fa-store"></i>
                <span>Ventas</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-shopping-bag"></i>
                <span>Compras</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-boxes"></i>
                <span>Inventario</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-dollar-sign"></i>
                <span>Financiero</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <li class="nav-item">
            <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapsedatabase"
               aria-expanded="false" aria-controls="collapsedatabase">
                <i class="fas fa-fw fa-boxes"></i>
                <span>Administración</span>
            </a>
            <div id="collapsedatabase" class="collapse" aria-labelledby="headingUtilities"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Personal:</h6>
                    <a href="{% url 'clientes' %}" class="collapse-item">Clientes</a>
                    <a href="{% url 'proveedores' %}" class="collapse-item">Proveedores</a>
                    <a href="{% url 'trabajadores' %}" class="collapse-item">Trabajadores</a>
                    <h6 class="collapse-header">Inventario:</h6>
                    <a href="{% url 'productos' %}" class="collapse-item">Productos</a>
                    <a href="{% url 'categorias' %}" class="collapse-item">Categoría</a>
                    <a href="{% url 'vitrinas' %}" class="collapse-item">Vitrina</a>
                    <h6 class="collapse-header">Servicios:</h6>
                    <a href="{% url 'trabajos' %}" class="collapse-item">Trabajos</a>
                </div>
            </div>
        </li>

        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

        <!-- Sidebar Message -->
        <!-- <div class="sidebar-card d-none d-lg-flex">
            <img class="sidebar-card-illustration mb-2" src="img/undraw_rocket.svg" alt="...">
            <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>
            <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>
        </div> -->

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                {% if buscador %}
                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form
                            class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-1 small" placeholder="Buscar por..."
                                   aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                {% else %}
                    <!-- Page Heading -->
                    <div class="col">
                        <h1 class="h3 mb-2 text-gray-800">{{ title }}</h1>
                        <span class="visually-hidden">{{ subtitle }}</span>
                    </div>

                {% endif %}


                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                             aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                           placeholder="Search for..." aria-label="Search"
                                           aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>
                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" id="userDropdown"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">Desarrollado por Zelen</span>
                            <i class="fas fa-code fa-fw"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- End of Topbar -->

            <!-- Navigation Bar -->
            {% if not dashboardatras %}
                <div class="container-fluid">
                    <div class="row" style="display: flex; justify-content: flex-end;">
                        <a href="{% block atras %}/{% endblock %}" class="btn btn-light btn-icon-split btn-animate"
                           style="border: 1px solid #c5c5c5; margin: 0 50px 10px 0">
                            <span class="icon text-gray-600"><i class="fas fa-arrow-left"></i></span>
                            <span class="text">Volver</span>
                        </a>
                    </div>
                </div>
            {% endif %}


            <!-- End Navigation Bar -->


            <!-- Begin Page Content -->
            {% block dashboard %}

            {% endblock %}

            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Mecánica 2025</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Bootstrap core JavaScript -->
<script src="/static/dashboard/vendor/jquery/jquery.min.js"></script>
<script src="/static/dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript -->
<script src="/static/dashboard/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages -->
<script src="/static/dashboard/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/static/dashboard/vendor/chart.js/Chart.min.js"></script>
<script src="/static/dashboard/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/static/dashboard/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/static/dashboard/js/demo/chart-area-demo.js"></script>
<script src="/static/dashboard/js/demo/chart-pie-demo.js"></script>
<script src="/static/dashboard/js/demo/datatables-demo.js"></script>

<!-- JSQUERY -->
<script src="/static/jsquery/jquery.blockUI.js"></script>
<script src="/static/jsquery/jquery.validationEngine.js"></script>

<!-- SWEETALERT2 -->
<script src="/static/sweetalert2/dist/sweetalert2.all.js"></script>

<!-- JAVASCRIPT -->
<script src="/static/js/smoke.js"></script>

<!-- SELECT2 -->

<!-- Agregar JS de Select2 -->
<script src="/static/select2/dist/js/select2.min.js"></script>


{% block extrahead %}{% endblock %}
<script>
    $.ajaxSetup({
        headers: {
            'X-CSRFToken': '{{ csrf_token }}'
        }
    });

    function formModal(id, text, action, footer = true, ext) {
        bloqueointerface();
        $('#itemspanel .modal-footer').toggle(footer); // Muestra u oculta el footer dinámicamente.
        $.ajax({
            type: "GET",
            url: `{{ request.path }}`,
            data: {
                'action': action,
                'id': id,
                'ext': ext,
            },
            success: function (data) {
                $.unblockUI();
                if (data.result === true) {
                    $('#itemspanel .panelbody').html(data.data);  // Coloca el formulario dentro del modal
                    $('#itemspanelTitle').html(text.toUpperCase());  // Actualiza el título del modal
                    $("#itemspanel").modal({backdrop: 'static', keyboard: false}).modal('show');  // Muestra el modal

                    // Agregar manejador para el formulario (cuando se envíe)
                    $('form.form-modal').on('submit', function (e) {
                        e.preventDefault();
                        var formData = new FormData(this);
                        formData.append('action', action)
                        formData.append('id', id)

                        $.ajax({
                            type: "POST",
                            url: `{{ request.path }}`,
                            data: formData,
                            processData: false,
                            contentType: false,
                            success: function (response) {
                                if (response.result === true) {
                                    Swal.fire({
                                        position: "center",
                                        icon: "success",
                                        type: "success",
                                        title: "Has completado el registro excitosamente!",
                                        showConfirmButton: false,
                                        timer: 1500
                                    }).then(() => {
                                        $("#itemspanel").modal('hide');
                                        location.reload();
                                    });
                                } else {
                                    Swal.fire({
                                        icon: "error",
                                        type: "error",
                                        title: "Oops...!",
                                        html: `<p><b>${response.mensaje}</b></p><hr>${response.detalle}`
                                    });
                                }
                            },
                            dataType: "json"
                        });
                    });

                } else {
                    Swal.fire({
                        icon: "error",
                        type: "error",
                        title: "Oops...!",
                        html: `<p><b>${data.mensaje}</b></p><hr>${data.detalle}`
                    });
                }
            },
            dataType: "json"
        });
    }

    function bloqueointerface() {
        $.blockUI({
            message: '<div class="spinner"></div>',
            css: {
                border: 'none',
                backgroundColor: 'transparent',
                position: 'absolute',
                top: '50%',
                left: '50%',
                transform: 'translate(-50%, -50%)',
                width: 'auto',
                height: 'auto',
                zIndex: 1060
            },
            overlayCSS: {
                backgroundColor: 'rgba(0,0,0,0.75)',
                opacity: 1,
                zIndex: 1059
            }
        });
    }


    function eliminarajax(pk, nombre, action, titulo = '¡Cuidado! Estás por eliminar:') {
        Swal.fire({
            html: `${titulo} <b>${nombre}</b>`,
            text: "Esta acción es irreversible",
            type: 'warning',
            icon: 'warning',
            showCancelButton: true,
            allowOutsideClick: false,
            confirmButtonText: 'Eliminar!',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.value) {
                bloqueointerface();
                $.ajax({
                    url: "{{ request.path }}",
                    type: "POST",
                    data: {
                        action: action,
                        id: pk
                    },
                    dataType: "json",
                    success: function (data) {
                        $.unblockUI();
                        if (data.result === true) {
                            Swal.fire({
                                position: "top-end",
                                icon: "success",
                                title: "Has eliminado el registro exitosamente!",
                                showConfirmButton: false,
                                timer: 1500
                            }).then(() => {
                                location.reload();
                            });
                        } else {
                            Swal.fire({
                                icon: "error",
                                type: "error",
                                title: "Oops...!",
                                html: `<p><b>${data.mensaje}</b></p><hr>${data.detalle}`
                            });
                        }
                    },
                    error: function () {
                        $.unblockUI();
                        mensajeWarning("Error en la comunicación con el servidor.");
                    }
                });

            } else {
            }
        })
    }

    function mensajeFlotante(tipo, mensaje) {
        Swal.fire({
            toast: false,
            position: 'center',
            icon: "info",
            type: 'info',
            title: mensaje,
            html: tipo,
            showConfirmButton: false
        });
    }

    function alertaSuccess(mensaje, time = 2000) {
        Swal.fire({
            toast: true,
            position: 'top-end',
            type: 'success',
            title: mensaje,
            showConfirmButton: false,
            timer: time
        })
    }

    function alertaWarning(mensaje, time = 2000) {
        Swal.fire({
            toast: true,
            position: 'top-end',
            type: 'warning',
            title: mensaje,
            showConfirmButton: false,
            timer: time
        })
    }

    function alertaDanger(mensaje, time = 2000) {
        Swal.fire({
            toast: true,
            position: 'top-end',
            type: 'error',
            title: mensaje,
            showConfirmButton: false,
            timer: time
        })
    }

    function alertaInfo(mensaje, time = 2000) {
        Swal.fire({
            toast: true,
            position: 'top-end',
            type: 'info',
            title: mensaje,
            showConfirmButton: false,
            timer: time
        })
    }

    function mensajeSuccess(mensaje, titulo = '') {
        Swal.fire(titulo, mensaje, 'success')
    }

    function mensajeWarning(mensaje, titulo = '') {
        Swal.fire(titulo, mensaje, 'warning')
    }

    function mensajeDanger(mensaje, titulo = '') {
        Swal.fire(titulo, mensaje, 'error')
    }

    function mensajeInfo(mensaje, titulo = '') {
        Swal.fire(titulo, mensaje, 'info')
    }

    function mensajeWarningSwal(titulo, mensaje) {
        Swal.fire({
            allowOutsideClick: false,
            allowEscapeKey: false,
            allowEnterKey: false,
            type: 'warning',
            customClass: {
                confirmButton: 'btn btn-info'
            },
            title: titulo,
            text: mensaje,
            confirmButtonText: 'Aceptar',
        })
    }

    function mensajeErrorSwal(titulo, mensaje) {
        Swal.fire({
            allowOutsideClick: false,
            allowEscapeKey: false,
            allowEnterKey: false,
            type: 'error',
            customClass: {
                confirmButton: 'btn btn-info'
            },
            title: titulo,
            text: mensaje,
            confirmButtonText: 'Aceptar',
        })
    }

    function mensajeSuccessSwal(titulo, mensaje, url) {
        Swal.fire({
            allowOutsideClick: false,
            allowEscapeKey: false,
            allowEnterKey: false,
            type: 'success',
            customClass: {
                confirmButton: 'btn btn-info'
            },
            title: titulo,
            text: mensaje,
            confirmButtonText: 'Aceptar',
        }).then((result) => {
            if (result.value) {
                bloqueointerface();
                location.href = url;
            }
        })
    }
</script>

<script>
    $(document).ready(function () {
        // Cuando se haga clic en el enlace
        $('a').on('click', function (e) {
            e.preventDefault();  // Evita la acción predeterminada de navegación
            var targetUrl = $(this).attr('href');
            if (targetUrl !== undefined && targetUrl !== '#' && targetUrl !== 'javascript:void(0);') {
                // Bloquear la UI con un mensaje de carga
                bloqueointerface()

                // Después de 1 segundo (para ver el overlay), redirigir
                setTimeout(function () {
                    $.unblockUI();  // Ocultar el overlay
                    window.location.href = targetUrl;  // Redirigir a la nueva página
                }, 500);  // Ajusta el tiempo de espera según lo que necesites
            }
        });
    });
</script>
</body>
</html>