<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mecánica{% endblock %}</title>

    {#    ESTILOS BOOTSTRAP #}
    <link rel="stylesheet" href="/static/bootstrap5/bootstrap-5.3.3/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/bootstrap5/bootstrap-5.3.3/dist/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/static/sweetalert2/dist/sweetalert2.css">
    {#    <link rel="stylesheet" href="/static/node_modules/bootstrap5/bootstrap/dist/css/bootstrap.css">#}

    {#    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>#}
    <script src="/static/sweetalert2/dist/sweetalert2.all.js"></script>
    <script src="/static/jsquery/jquery-3.7.1.min.js"></script>
    {# BLOQUE DE CABECERA // PERMITE EL USO DE JAVASCRIPT#}
    {% block extrahead %}
    {% endblock %}

    <style>
        body{
            height: 100vh;
        }
    </style>
</head>
<body>
{% block content %}
    
{% endblock %}
</body>
</html>
