{% extends 'base_dashboard.html' %}
{% block extrahead %}
    <script>
        $(function () {
            const table = $('#dataTable').DataTable();
            table.order([0, 'desc']).draw();
            const $estado = $('#id_estado');
            $estado.select2()
        })
    </script>
    {% include 'importcharts.html' %}
{% endblock %}
{% block dashboard %}
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">{{ title }}</h1>
            <a href="{% url 'registroventa' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                    class="fas fa-plus fa-sm text-white-50"></i> Registrar Venta</a>
        </div>

        <!-- Content Row -->
        <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-2 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Ganancias Desde Lunes<br> {{ lunes }}
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">${{ balancegeneral }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-2 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <a class="row no-gutters align-items-center" href="{% url 'adm_venta' %}"
                           style="text-decoration: none;">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    Repuestos (HOY)
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">${{ totalrepuestos }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fa fa-cogs fa-2x text-gray-300"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-2 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <a class="row no-gutters align-items-center" href="{% url 'adm_servicio' %}"
                           style="text-decoration: none;">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                    Servicios (HOY)
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">${{ totalservicios }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fa fa-wrench fa-2x text-gray-300"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-2 col-md-6 mb-4">
                <div class="card border-left-danger shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                    Egresos (DESDE LUNES)
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">${{ totalegresos }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-arrow-down fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Content Row -->

        <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-7">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Resumen de ganancias de hoy</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th style="width: .1%">ID</th>
                                    <th style="width: 2%">Detalle</th>
                                    <th style="width: .5%">Fecha</th>
                                    <th style="width: .8%">Cliente</th>
                                    <th style="width: .1%">Abono</th>
                                    <th style="width: .1%">Subtotal</th>
                                    <th style="width: .1%">Descuento</th>
                                    <th style="width: .1%">Total</th>
                                    <th style="width: .1%;">Estado</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for l in list %}
                                    <tr>
                                        <td>{{ l.id }}</td>
                                        <td style="font-size: 12px">{{ l.obtener_detalles|safe }}</td>
                                        <td>{{ l.fecha_venta|date:"d-m-Y" }}</td>
                                        <td style="font-size: 12px">{{ l.cliente|default_if_none:""|safe }}</td>
                                        <td style="color:{% if l.abono == 0 %}salmon{% elif l.abono == l.totalventa %}#1cc88a{% else %}#2e59d9{% endif %}">
                                            <b>${{ l.abono }}</b></td>
                                        <td>${{ l.subtotalventa }}</td>
                                        <td>${{ l.descuento }}</td>
                                        <td style="color: salmon"><b>${{ l.totalventa }}</b></td>
                                        <td style="color:{% if l.estado == 1 %}salmon{% elif l.estado == 2 %}#1cc88a{% endif %}">
                                            <b>{{ l.get_estado_display }}</b></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}