{% extends 'base_dashboard.html' %}

{% block extrahead %}
    <script>
        $(function () {
            var table = $('#dataTable').DataTable();
            table.order([0, 'desc']).draw();
        })
    </script>
{% endblock %}
{% block dashboard %}
    <div class="container-fluid">
        <div class="card mb-4 py-1 border-left-primary">
            <div class="card-body">
                <a href="javascript:void(0);" onclick="formModal('', 'Agregar Cliente', 'add', true, '')"
                   class="btn btn-primary btn-icon-split">
                    <span class="icon text-white-50"><i class="fas fa-plus"></i></span>
                    <span class="text">Agregar Cliente</span>
                </a>

            </div>
        </div>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th style="width: 5%">Cédula</th>
                            <th style="width: 10%">Nombre</th>
                            <th style="width: 10%">Dirección</th>
                            <th style="width: 1%">Número de Teléfono</th>
                            <th style="width: 10%">Email</th>
                            <th style="width: 1%">Deuda Pendiente</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for l in list %}
                            <tr>
                                <td>{{ l.persona.cedula }}</td>
                                <td>{{ l.persona }}</td>
                                <td>{{ l.persona.direccion }}</td>
                                <td>{{ l.persona.celular }}</td>
                                <td>{{ l.persona.correo }}</td>
                                <td>${{ l.deuda_pendiente }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}