{% extends 'base_dashboard.html' %}

{% block extrahead %}
    <script>
        $(function () {
            var table = $('#dataTable').DataTable();
            var table2 = $('#dataTable2').DataTable();
            table.order([0, 'desc']).draw();
            table2.order([0, 'desc']).draw();
        })
    </script>

{% endblock %}
{% block dashboard %}
    <div class="row">
        <div class="col-lg-6 mb-4">
            <!-- Project Card Example -->
            <div class="card shadow mb-4">
                <div class="container-fluid">
                    <div class="card mb-4 py-1 border-left-primary" style="margin-top: 25px">
                        <div class="card-body">
                            <a href="javascript:void(0);"
                               onclick="formModal('', 'Agregar Categoría', 'addcategoria', true, '')"
                               class="btn btn-primary btn-icon-split">
                                <span class="icon text-white-50"><i class="fas fa-plus"></i></span>
                                <span class="text">Agregar Categoría</span>
                            </a>
                        </div>
                    </div>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th style="width: 5%;">ID</th>
                                        <th>Categoría</th>
                                        <th style="width: 5%;"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for l in list1 %}
                                        <tr>
                                            <td>{{ l.id }}</td>
                                            <td>{{ l.nombre }}</td>
                                            <td>
                                                <div class="dropdown no-arrow">
                                                    <a class="dropdown-toggle" href="#" role="button"
                                                       id="dropdownMenuLink"
                                                       data-toggle="dropdown" aria-haspopup="true"
                                                       aria-expanded="false">
                                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                                         aria-labelledby="dropdownMenuLink">
                                                        <div class="dropdown-header">Acciones:</div>
                                                        <div class="dropdown-divider"></div>

                                                        <a class="dropdown-item" href="javascript:void(0);"
                                                           onclick="formModal('{{ l.id }}', 'Editar {{ l }}', 'editcategoria', true, '')"
                                                           style="display: flex; align-items: center;">
                                                            <span class="icon text-gray-600" style="width: 15px; height: 15px; margin-right: 10px; display: flex; align-items: center; justify-content: center;">
                                                                <i class="fas fa-edit"></i>
                                                            </span>
                                                            <span class="text" style="flex-grow: 1;">Editar</span>
                                                        </a>

                                                        <a class="dropdown-item" href="javascript:void(0);"
                                                           onclick="eliminarajax('{{ l.id }}', '{{ l }}', 'delcategoria')"
                                                           style="display: flex; align-items: center;">
                                                            <span class="icon text-gray-600" style="width: 15px; height: 15px; margin-right: 10px; display: flex; align-items: center; justify-content: center;">
                                                                <i class="fas fa-trash"></i>
                                                            </span>
                                                            <span class="text" style="flex-grow: 1;">Eliminar</span>
                                                        </a>
                                                    </div>

                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-4">
            <!-- Project Card Example -->
            <div class="card shadow mb-4">
                <div class="container-fluid">
                    <div class="card mb-4 py-1 border-left-primary" style="margin-top: 25px">
                        <div class="card-body">
                            <a href="javascript:void(0);"
                               onclick="formModal('', 'Agregar Subcategoría', 'addsubcategoria', true, '')"
                               class="btn btn-primary btn-icon-split">
                                <span class="icon text-white-50"><i class="fas fa-plus"></i></span>
                                <span class="text">Agregar Subcategoría</span>
                            </a>

                        </div>
                    </div>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th style="width: 5%;">ID</th>
                                        <th>Subcategoría</th>
                                        <th>Categoría</th>
                                        <th style="width: 5%;"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for l in list2 %}
                                        <tr>
                                            <td>{{ l.id }}</td>
                                            <td>{{ l.nombre }}</td>
                                            <td>{{ l.categoria }}</td>
                                            <td>
                                                <div class="dropdown no-arrow">
                                                    <a class="dropdown-toggle" href="#" role="button"
                                                       id="dropdownMenuLink"
                                                       data-toggle="dropdown" aria-haspopup="true"
                                                       aria-expanded="false">
                                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                                         aria-labelledby="dropdownMenuLink">
                                                        <div class="dropdown-header">Acciones:</div>
                                                        <div class="dropdown-divider"></div>

                                                        <a class="dropdown-item" href="javascript:void(0);"
                                                           onclick="formModal('{{ l.id }}', 'Editar {{ l }}', 'editsubcategoria', true, '')"
                                                           style="display: flex; align-items: center;">
                                                            <span class="icon text-gray-600" style="width: 15px; height: 15px; margin-right: 10px; display: flex; align-items: center; justify-content: center;">
                                                                <i class="fas fa-edit"></i>
                                                            </span>
                                                            <span class="text" style="flex-grow: 1;">Editar</span>
                                                        </a>

                                                        <a class="dropdown-item" href="javascript:void(0);"
                                                           onclick="eliminarajax('{{ l.id }}', '{{ l }}', 'delsubcategoria')"
                                                           style="display: flex; align-items: center;">
                                                            <span class="icon text-gray-600" style="width: 15px; height: 15px; margin-right: 10px; display: flex; align-items: center; justify-content: center;">
                                                                <i class="fas fa-trash"></i>
                                                            </span>
                                                            <span class="text" style="flex-grow: 1;">Eliminar</span>
                                                        </a>
                                                    </div>

                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}