{% extends 'base_dashboard.html' %}

{% block extrahead %}
    <script>
        function saldarDeuda(nombre, cantidad, action, id) {
            Swal.fire({
                html: `Estás por saldar la deuda de <b>$${cantidad}</b> perteneciente a <b>${nombre}</b> `,
                text: "Esta acción es irreversible",
                type: 'warning',
                icon: 'warning',
                showCancelButton: true,
                allowOutsideClick: false,
                confirmButtonText: 'Saldar!',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.value) {
                    bloqueointerface();
                    $.ajax({
                        url: "{{ request.path }}",
                        type: "POST",
                        data: {
                            action: action,
                            id: id
                        },
                        dataType: "json",
                        success: function (data) {
                            $.unblockUI();
                            if (data.result === true) {
                                Swal.fire({
                                    position: "top-end",
                                    icon: "success",
                                    title: "Has cancelado la deuda exitosamente!",
                                    showConfirmButton: false,
                                    timer: 1500
                                }).then(() => {
                                    location.reload();
                                });
                            } else {
                                Swal.fire({
                                    icon: "error",
                                    type: "error",
                                    title: "Oops...!",
                                    html: `<p><b>${data.mensaje}</b></p><hr>${data.detalle}`
                                });
                            }
                        },
                        error: function () {
                            $.unblockUI();
                            mensajeWarning("Error en la comunicación con el servidor.");
                        }
                    });

                }
            })
        }

        $(function () {
            var table = $('#dataTable').DataTable();
            table.order([0, 'desc']).draw();
        })
    </script>
{% endblock %}
{% block dashboard %}
    <div class="container-fluid">
        <div class="card mb-4 py-1 border-left-primary">
            <div class="card-body">
                <a href="javascript:void(0);" onclick="formModal('', 'Agregar Cliente', 'add', true, '')"
                   class="btn btn-primary btn-icon-split">
                    <span class="icon text-white-50"><i class="fas fa-plus"></i></span>
                    <span class="text">Agregar Cliente</span>
                </a>

            </div>
        </div>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th style="width: 5%">Cédula</th>
                            <th style="width: 10%">Nombre</th>
                            <th style="width: 10%">Dirección</th>
                            <th style="width: 1%">Número de Teléfono</th>
                            <th style="width: 10%">Email</th>
                            <th style="width: 1%">Deuda Pendiente</th>
                            <th style="width: 1%"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for l in list %}
                            <tr>
                                <td>{{ l.persona.cedula }}</td>
                                <td>{{ l.persona }}</td>
                                <td>{{ l.persona.direccion }}</td>
                                <td>{{ l.persona.celular }}</td>
                                <td>{{ l.persona.correo }}</td>
                                <td>${{ l.deuda_pendiente }}</td>
                                <td>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button"
                                           id="dropdownMenuLink"
                                           data-toggle="dropdown" aria-haspopup="true"
                                           aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                             aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Acciones:</div>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="javascript:void(0);"
                                               onclick="formModal('{{ l.id }}', 'Editar: {{ l.persona.nombre }} {{ l.persona.apellido1 }}', 'edit', true, '')"
                                               style="display: flex; align-items: center;">
                                                <span class="icon text-gray-600"
                                                      style="width: 15px; height: 15px; margin-right: 10px; display: flex; align-items: center; justify-content: center;">
                                                    <i class="fas fa-edit"></i>
                                                </span>
                                                <span class="text" style="flex-grow: 1;">Editar</span>
                                            </a>

                                            <a class="dropdown-item" href="javascript:void(0);"
                                               onclick="eliminarajax('{{ l.id }}', 'Cliente: {{ l.persona.nombre }} {{ l.persona.apellido1 }} {{ l.persona.apellido2 }}', 'del')"
                                               style="display: flex; align-items: center;">
                                                <span class="icon text-gray-600"
                                                      style="width: 15px; height: 15px; margin-right: 10px; display: flex; align-items: center; justify-content: center;">
                                                    <i class="fas fa-trash"></i>
                                                </span>
                                                <span class="text" style="flex-grow: 1;">Eliminar</span>
                                            </a>

                                            <a class="dropdown-item" href="javascript:void(0);"
                                               onclick="formModal('{{ l.id }}', 'Registrar deuda para: {{ l.persona.nombre }} {{ l.persona.apellido1 }} - {{ l.persona.cedula }}', 'adddeuda', true, '')"
                                               style="display: flex; align-items: center;">
                                                <span class="icon text-gray-600"
                                                      style="width: 15px; height: 15px; margin-right: 10px; display: flex; align-items: center; justify-content: center;">
                                                    <i class="fas fa-dollar-sign"></i>
                                                </span>
                                                <span class="text" style="flex-grow: 1;">Registrar Deuda</span>
                                            </a>

                                            <a class="dropdown-item" href="javascript:void(0);"
                                               style="display: flex; align-items: center;"
                                               onclick="saldarDeuda('{{ l.persona.nombre }} {{ l.persona.apellido1 }}', '{{ l.deuda_pendiente }}', 'saldardeuda', '{{ l.id }}')">
                                                <span class="icon text-gray-600"
                                                      style="width: 15px; height: 15px; margin-right: 10px; display: flex; align-items: center; justify-content: center;">
                                                    <i class="fas fa-handshake"></i>
                                                </span>
                                                <span class="text" style="flex-grow: 1;">Saldar Deuda</span>
                                            </a>
                                        </div>

                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}