{% extends 'base_dashboard.html' %}

{% block extrahead %}
    <script>
        $(function () {
            var table = $('#dataTable').DataTable();
            table.order([0, 'desc']).draw();
        })
    </script>
{% endblock %}
{% block dashboard %}

    <div class="container-fluid">
        <div class="card mb-4 py-1 border-left-primary">
            <div class="card-body">
                <a href="javascript:void(0);" onclick="formModal('', 'Agregar Vitrina', 'add', true, '')"
                   class="btn btn-primary btn-icon-split">
                    <span class="icon text-white-50"><i class="fas fa-plus"></i></span>
                    <span class="text">Agregar Vitrina</span>
                </a>

            </div>
        </div>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th style="width: 1%">ID</th>
                            <th style="width: 10%;">Código</th>
                            <th style="width: 1%"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for l in list %}
                            <tr>
                                <td>{{ l.id }}</td>
                                <td>{{ l.codigo }}</td>
                                <td style="text-align: center;">
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button"
                                           id="dropdownMenuLink"
                                           data-toggle="dropdown" aria-haspopup="true"
                                           aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                             aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Acciones:</div>
                                            <div class="dropdown-divider"></div>

                                            <a class="dropdown-item" href="javascript:void(0);"
                                               onclick="formModal('{{ l.id }}', 'Editar {{ l }}', 'edit', true, '')"
                                               style="display: flex; align-items: center;">
                                                            <span class="icon text-gray-600"
                                                                  style="width: 15px; height: 15px; margin-right: 10px; display: flex; align-items: center; justify-content: center;">
                                                                <i class="fas fa-edit"></i>
                                                            </span>
                                                <span class="text" style="flex-grow: 1;">Editar</span>
                                            </a>

                                            <a class="dropdown-item" href="javascript:void(0);"
                                               onclick="eliminarajax('{{ l.id }}', '{{ l }}', 'del')"
                                               style="display: flex; align-items: center;">
                                                <span class="icon text-gray-600"
                                                      style="width: 15px; height: 15px; margin-right: 10px; display: flex; align-items: center; justify-content: center;">
                                                    <i class="fas fa-trash"></i>
                                                </span>
                                                <span class="text" style="flex-grow: 1;">Eliminar</span>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}